.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    row-gap: 10px; /* Optional: Adds space between items */
    padding: 0px;
    width: 90%;
    
}

/* Each grid item */
.grid-item {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 33.333%;        /* Takes 50% of the row width, minus padding */
    box-sizing: border-box;
    max-width: 200px;
    padding: 0px;
    display: flex;
/*     background-color: red; */
    flex-direction: column;
    @include govuk-font($size: 16);
/*     align-items: center; */
/*     justify-content: center; */
/*     text-align: center; */

}

/* Title styling */
.grid-item .title {
    @include govuk-font($size: 19);
    font-weight: bold;
    margin-bottom: 5px;
}

/* Number styling */
.grid-item .number {
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Description styling */
.grid-item .description {
    font-size: 19px;
    margin: 5px 0px 5px 0px;
}
  

 
