{% extends "layouts/v3.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Get air pollution data</h1>

    <div class="govuk-divider"></div>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Monitoring stations
    </h2>


    <p class="govuk-body">Monitoring stations capture air pollution data.</p>
    
    <p class="govuk-body">View and download air pollution data from one or more monitoring stations.</p>
    
    <a href="choose-location.html" class="govuk-body govuk-link">Find monitoring stations</a>
 
    <div class="govuk-divider"></div>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Local authorities
    </h2>

    
    <p class="govuk-body">View and download air pollution data from one or more monitoring stations.</p>
    
    <a href="choose-location.html" class="govuk-body govuk-link">Find local authorities</a>
  
    



   



  <!--   <div class="govuk-divider"></div>

   

    <h2 class="govuk-heading-m">
      Local authorities
    </h2>
    <p class="govuk-body">Local authorities.</p>
    <a href="/version-5/filter-first/filters.html" class="govuk-body govuk-link">Find local authorities</a>

    </div> -->

      </div>


{% endblock %}