{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="choose-location.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">Select the distance radius for B2 4QA</h1>
   <!--  <dl class="govuk-summary-list" style="width: 50%;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          B2 4QA
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> location</span></a>
        </dd>
      </div>
      
    </dl> -->
<!--     <p class="govuk-body">Location is B2 4QA</p> -->
    <div class="govuk-form-group govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius" name="radius" type="radio" value="1m">
            <label class="govuk-label govuk-radios__label" for="radius">
              1 mile
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-2" name="radius" type="radio" value="5m">
            <label class="govuk-label govuk-radios__label" for="radius-2">
              5 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-3" name="radius" type="radio" value="10m">
            <label class="govuk-label govuk-radios__label" for="radius-3">
              10 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-4" name="radius" type="radio" value="20m">
            <label class="govuk-label govuk-radios__label" for="radius-4">
              20 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-5" name="radius" type="radio" value="30m">
            <label class="govuk-label govuk-radios__label" for="radius-5">
              30 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-6" name="radius" type="radio" value="50m">
            <label class="govuk-label govuk-radios__label" for="radius-6">
              50 miles
            </label>
          </div>
        </div>
      </fieldset>
    </div>



    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-3",
      href: "filter-question.html"
      }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
