{% extends "layouts/v14.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Get air pollution data</h1>
  <p class="govuk-body govuk-!-margin-bottom-7">View and download air pollution data from monitoring stations across the UK.</p>
   
    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <div class="gem-c-cards">
    <ul class="gem-c-cards__list gem-c-cards__list--one-column">

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="station/search-by.html">Search by town or postcode</a>
</h2>            
          </div>
        </li>

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="map.html">Search on a map</a></h2>            
          </div>
        </li>

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h2 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="data-selector/create-pollutant.html">Create and download big datasets</a>
</h2>              
          </div>
        </li>
       
        

      <aside class="govuk-prototype-kit-common-templates-related-items govuk-!-margin-top-6" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://draft-origin.publishing.service.gov.uk/government/collections/sources-of-air-pollution-data-in-the-uk?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIwZmU1YmNiZS02MmNiLTRhMTEtODVmNy0xNDc1NDE1Y2I0ZWEiLCJjb250ZW50X2lkIjoiYmM2ZTcwMzQtNTEwNi00NGU3LTgzODctZmE5NTI1OWE2ZjhkIiwiaWF0IjoxNzc0ODYxOTM2LCJleHAiOjE3Nzc1NDAzMzZ9.wJzjOkohA3a_EVyGcDHOOB6_4igPADVvInEvZGn4xTQ&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">
                Sources of air pollution data
              </a>
            </li>
          <li>
              <a href="#">
                Modelled air pollution data
              </a>
            </li>
            <li>
              <a href="#">
                Background maps
              </a>
            </li>
              <li>
              <a href="#">
                Air pollution reports
              </a>
            </li>
            
           
          
          
          </ul>
        </nav>
      </aside>

      </div>
      </div>

  

    </div>

</div>


{% endblock %}