{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="select-a-pollutant.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check monitoring stations before continuing</h1>
    <p class="govuk-body">You can view or remove monitoring stations before continuing to your results.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What are the thresholds for data capture?
        </span>
      </summary>
      <div class="govuk-details__text">
       <p class="govuk-body"> For all pollutants a data capture average of 75% or more over a specified time period is required for the data to be valid.</p>
       <p class="govuk-body"> However, due to existing data quality objectives for PM2.5, a data capture of 85% or above is required.</p>

      </div>
    </details>
  </div>
</div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <table class="govuk-table govuk-table--small-text-until-tablet govuk-!-margin-top-6">
      <caption class="govuk-table__caption govuk-table__caption--m">Data capture between 1 January to 31 December 2023</caption>
     
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 30%">Monitoring station</th>
          <th scope="col" class="govuk-table__header" style="width: 20%">Nitrogen dioxide</th>
          <th scope="col" class="govuk-table__header" style="width: 15%">PM10</th>
          <th scope="col" class="govuk-table__header" style="width: 15%">PM2.5</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%">Average</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 10%">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><strong><a href="" class="govuk-link .ms-table-sub-header">
          Birmingham Airport 2</a></strong>
            <span style="font-weight: normal; display: block; margin-top: 4px; color:#505a5f">Locally-managed automatic monitoring</span>
         
          </th>
          <td class="govuk-table__cell">53%
            <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--red" >
              Below threshold
            </strong>
          </span>
          </td>
          <td class="govuk-table__cell">71%
            <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--red" >
              Below threshold
            </strong>
          </span>
          </td>
          <td class="govuk-table__cell">92%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">72%<br>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Remove</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><strong><a href="station" class="govuk-link .ms-table-sub-header">Birmingham A4540 Roadside</a></strong>
            <span style="font-weight: normal; display: block; margin-top: 4px; color:#505a5f">Automatic Urban and Rural</span>
          <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--green" >
              Above threshold
            </strong>
          </span>
          </th>
          <td class="govuk-table__cell">90%</td>
          <td class="govuk-table__cell">97%</td>
          <td class="govuk-table__cell">99%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">95%<br>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Remove</a>
            
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><strong><a href="" class="govuk-link .ms-table-sub-header">
            Birmingham Ladywood</a></strong>
            <span style="font-weight: normal; display: block; margin-top: 4px; color:#505a5f">Automatic Urban and Rural</span>
          <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--green" >
              Above threshold
            </strong>
          </span>
          </th>
          <td class="govuk-table__cell">92%</td>
          <td class="govuk-table__cell">95%</td>
          <td class="govuk-table__cell">96%</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">94%<br>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Remove</a>
            
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><strong><a href="" class="govuk-link .ms-table-sub-header">
            West Bromwich Kenrick Park</a></strong>
            <span style="font-weight: normal; display: block; margin-top: 4px; color:#505a5f">Automatic Urban and Rural</span>
          <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--green" >
              Above threshold
            </strong>
          </span>
          </th>
          <td class="govuk-table__cell">97%</td>
          <td class="govuk-table__cell">n/a</td>
          <td class="govuk-table__cell">n/a</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">97%<br>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Remove</a>
            
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><strong><a href="" class="govuk-link .ms-table-sub-header">
            Oldbury Birmingham Road</a></strong>
            <span style="font-weight: normal; display: block; margin-top: 4px; color:#505a5f">Automatic Urban and Rural</span>
          <span style="display: block; margin-top: 10px; font-size: 16px;">  <strong class="govuk-tag govuk-tag--green" >
              Above threshold
            </strong>
          </span>
          </th>
          <td class="govuk-table__cell">96%</td>
          <td class="govuk-table__cell">n/a</td>
          <td class="govuk-table__cell">n/a</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">96%<br>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Remove</a>
            
          </td>
        </tr>

       
    
      </tbody>
    </table>
      </div>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "select-a-data-format.html"
    }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
