//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Import govuk-frontend styles
@import "node_modules/govuk-frontend/dist/govuk/all";

@import "components/aq-charts";
@import "components/aq-levels-list";
@import "components/aq-buttons";
@import "components/toggletips";

@import "other/fixes.scss";

@import "settings.scss";


// beta styles

.version-6 {

    // Components
    @import "version-6/components/aq-buttons";
    @import "version-6/components/aq-charts";
    @import "version-6/components/aq-features";
    @import "version-6/components/aq-levels-list";
    @import "version-6/components/status";

    
    // Other
    @import "version-6/other/fixes";

    // Settings
    @import "version-6/settings";

    @import "version-6/components/autocomplete";

  }


.mvp {

  // Tools
  @import "mvp/tools/mixins";

  // Components
  @import "mvp/components/aq-buttons";
  @import "mvp/components/aq-charts";
  @import "mvp/components/aq-features";
  @import "mvp/components/aq-levels-list";
  @import "mvp/components/status";
  @import "mvp/components/sub-navigation";
  @import "mvp/components/aq-levels-table";

  // Other
  @import "mvp/other/fixes";

  // Settings
  @import "mvp/settings";

  @import "mvp/components/autocomplete";

}

.data-selector {

  // Components
  @import "data-selector/components/aq-buttons";
  @import "data-selector/components/aq-charts";
  @import "data-selector/components/aq-features";
  @import "data-selector/components/aq-levels-list";
  @import "data-selector/components/status";

  
  // Other
  @import "data-selector/other/fixes";

  // Settings
  @import "data-selector/settings";

  @import "data-selector/components/autocomplete";

}

.version-7 {

    // Tools
  @import "version-7/tools/mixins";

  // Components
  @import "version-7/components/aq-buttons";
  @import "version-7/components/aq-charts";
  @import "version-7/components/aq-features";
  @import "version-7/components/aq-levels-list";
  @import "version-7/components/status";
  @import "version-7/components/aq-levels-table";
  @import "version-7/components/govuk-cards";


  
  // Other
  @import "version-7/other/fixes";

  // Settings
  @import "version-7/settings";

  @import "version-7/components/autocomplete";

}

.version-8 {

    // Tools
  @import "version-8/tools/mixins";

  // Components
  @import "version-8/components/aq-buttons";
  @import "version-8/components/aq-charts";
  @import "version-8/components/aq-features";
  @import "version-8/components/aq-levels-list";
  @import "version-8/components/status";
  @import "version-8/components/aq-levels-table";
  @import "version-8/components/govuk-cards";


  
  // Other
  @import "version-8/other/fixes";

  // Settings
  @import "version-8/settings";

  @import "version-8/components/autocomplete";

}

.version-9 {

    // Tools
  @import "version-8/tools/mixins";

  // Components
  @import "version-8/components/aq-buttons";
  @import "version-8/components/aq-charts";
  @import "version-8/components/aq-features";
  @import "version-8/components/aq-levels-list";
  @import "version-8/components/status";
  @import "version-8/components/aq-levels-table";
  @import "version-8/components/govuk-cards";


  
  // Other
  @import "version-8/other/fixes";

  // Settings
  @import "version-8/settings";

  @import "version-8/components/autocomplete";

}

.version-10 {

    // Tools
  @import "version-8/tools/mixins";

  // Components
  @import "version-8/components/aq-buttons";
  @import "version-8/components/aq-charts";
  @import "version-8/components/aq-features";
  @import "version-8/components/aq-levels-list";
  @import "version-8/components/status";
  @import "version-8/components/aq-levels-table";
  @import "version-8/components/govuk-cards";


  
  // Other
  @import "version-8/other/fixes";

  // Settings
  @import "version-8/settings";

  @import "version-8/components/autocomplete";

}

  .version-11 {
        // map
  @import "version-11/map";

    // Tools
  @import "version-11/tools/mixins";

  // Components
  @import "version-11/components/aq-buttons";
  @import "version-11/components/aq-charts";
  @import "version-11/components/aq-features";
  @import "version-11/components/aq-levels-list";
  @import "version-11/components/status";
  @import "version-11/components/aq-levels-table";
  @import "version-11/components/govuk-cards";


  
  // Other
  @import "version-11/other/fixes";

  // Settings
  @import "version-11/settings";

  @import "version-11/components/autocomplete";

}