//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Import govuk-frontend styles
@import "node_modules/govuk-frontend/dist/govuk/all";

@import "components/aq-charts";

@import "components/aq-levels-list";

@import "settings.scss";

    .moj-scrollable-pane {
        
        @media (min-width: 1020px)  {
            overflow-x: hidden;
        }

    }

    .pagination-margin {
        @media (min-width: 360px) and (max-width: 1020px)  {
        margin-top: 20px;
        }
    }

    .govuk-table__header a:not(:hover) {
        text-decoration: none;
    }

    .ms-table-row a:not(:hover) {
        text-decoration: none;
    }

    .ms-table-sub-header{
    font-size: 16px;
    width: 30%;
    font-weight: bold;
    white-space: nowrap;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: text-top;
    }


    .ms-table-title {
    margin-bottom: 15px;
    }

    .govuk-tabs .govuk-tabs__panel {
    border: none;
    padding: 25px 15px 15px 15px;
  }

  .arrow-up {
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-right: 4px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #d4351c;
  }

  .arrow-down {
  display: inline-block;
  width: 0; 
  height: 0; 
  margin-right: 4px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #00703c;
}



// station page

.defra-aq-features {
    
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 0 15px 0;
        padding-bottom: 20px;
        box-shadow: inset 0 -1px 0 #b1b4b6;
        width: 100%;
        
    }

    &__item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 0 15px 0;

    float: left;
    min-width: 6em;
    }

    &__key {
    margin: 0;
    font-size: 16px;
    color: #505a5f;
    }

    &__value {
    margin: 0 5px 0 0;
    font-size: 19px;
    }
}

.defra-aq-description {
    padding-bottom: 15px;
    box-shadow: inset 0 -1px 0 #b1b4b6;
}

.pollutant-table-row {
    padding: 20px 0 20px 0;
}

.govuk-divider {
    margin: 30px 0 30px 0;
    border-bottom: 1px solid #b1b4b6;
}

.defra-search {

    &__submit-container {
        display: table-cell;
        vertical-align: top;
        position: relative;
        white-space: nowrap;
        width: 40px;
        margin-bottom: 0px;
        padding-top: 2px;
        z-index: 0;
        
    }
    &__button {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0px;
        padding: 0px;
        box-shadow: none;
        background-color: #1d70b8;
        border: 2px solid #1d70b8;
        z-index: 1;
        cursor: pointer;
        color: #fff;
        &:hover {
            background-color: rgba(29,112,184, 0.6);
            border: 2px solid rgba(29,112,184, 0.1);
        }
        &:focus-visible {
            outline: 3px solid #fd0;
            box-shadow: inset 0 0 0 2px #0b0c0c;
            border-color: #0b0c0c;
            z-index: 2;
        }
    }
    &__button svg {
        position: absolute;
        top: 8px;
        left: 8px;
    }
    
}

