/* Regular styles for chart elements */
.chart {
    &__area {
        fill: #ebf0f7;
    }

    &__line {
        stroke: #3a70b3;
        stroke-width: 3px;
    }

    &__circle {
        stroke: #3a70b3;
        stroke-width: 3px;
        fill: #fff;
    }

    &__data {
        opacity: 0;
        &:last-of-type {
            opacity: 1;
            transition: opacity 0.3s ease; 
        }
    }

    &__hover {
        opacity: 0;
        will-change: opacity; 
        &:hover,
        &:active {
            & + .chart__data {
                opacity: 1;
            }
            & ~ .current-reading {
                opacity: 0; 
            }
        }
    }

    &__labels {
        @include govuk-font($size: 16);
        color: $govuk-secondary-text-colour;
    }
}

/* Styles for when chart__hover is focused or active */
.chart__hover:focus + .chart__data,
.chart__hover:active + .chart__data {
    opacity: 1;
}
.chart__hover:focus ~ .current-reading,
.chart__hover:active ~ .current-reading {
    opacity: 0; 
}

/* Additional styles for touch devices */
@media (hover: none) {
    .chart__hover:active + .chart__data,
    .chart__hover:active ~ .current-reading {
        opacity: 1; /* Apply styles on tap */
    }
}

/* Styles for other elements */
.current-reading, .threshold {
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.base_line, .grid_line {
    stroke-width: 1px;
    stroke: $govuk-border-colour; 
    &.grid_line {
        stroke: rgba($govuk-text-colour, 0.1); 
    }
}

.selected_line {
    stroke: $govuk-text-colour;
}

.threshold_line {
    stroke: $govuk-text-colour;
    stroke-width: 3px;
    opacity: 1; 
    transition: opacity 3s ease; 
}

.tooltip {
    &-bg {
        fill: white;
        stroke-width: 1;
        color: $govuk-secondary-text-colour;
        stroke: currentColor;
        shape-rendering: crispEdges;
    }

    &-text {
        @include govuk-font($size: 16);
        color: $govuk-text-colour;
        fill: currentColor;
    }

    &-text__strong {
        @include govuk-font($size: 19, $weight: bold);
    }
}

.aq-measurements {
    @include mq ($until: tablet) {
        display: block;
        margin-bottom: govuk-spacing(2);
      }
}


// New chart for beta

rect {
    position: relative;
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
  }

  .graph-tooltip {
    position: absolute;
    padding: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: none;
    pointer-events: none; /* This prevents the tooltip from blocking mouse events */
}

.graph-container {
    margin-top: 0px;
}

#chart-container {
    max-width: 1080px;  /* Set the maximum width to 1080px */
    width: 100%;         /* Make it responsive */
    margin: 0 auto;     /* Center the container */
}