{% extends "layouts/main.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Data selector dev build</h1>
<h2 class="govuk-heading-m">Phase 1</h2>
<h3 class="govuk-heading-s">Javascript enabled</h3>
   <p class="govuk-body"><a href="data-selector/start.html" class="govuk-link">Start of journey</a></p>
   <p class="govuk-body"><a href="data-selector/start-phase1.html" class="govuk-link">Start page with amended content for phase 1 (we need to say only AURN)</a></p>

   <h3 class="govuk-heading-s">Javascript disabled</h3>
   <p class="govuk-body"><a href="data-selector-nojs/start.html" class="govuk-link">Start of journey</a></p>
   
      </div>
</div>

{% endblock %}