

{% extends "layouts/data-selector-mvp.html" %}

{% set pageName="Request complete" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
   <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Request complete
          </h1>
            <div class="govuk-panel__body">
            We're building your dataset
          </div>
        </div>
         <h2 class="govuk-heading-m">What happens next</h2>
 <p class="govuk-body">
          We’ll send you your data when it's ready.
        </p>
       
        <p class="govuk-body">
          This could take up to 5 hours if you have requested a lot of data.
        </p>


        <p class="govuk-body">
          <a href="hub.html" class="govuk-link">Get more air pollution data</a> 
        </p>
      </div>


    </div>
  </div>

{% endblock %}
