{% extends "layouts/v6.html" %}

{% set pageName="Birmingham A4540 Roadside monitoring station - GOV.UK" %}


{% block beforeContent %}
<a href="station.html" class="govuk-back-link">Back</a>
<!-- <a href="results-b2-4qa.html" style="display: none;" id="station-b2" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Air pollution levels in 2023: overview</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">1 January to 31 December at Birmingham A4540 Roadside
    </p>

 

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link"  href="#1">2018</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#2">2019</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">2020</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">2021</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">2022</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#5">2023</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">2024</a>
        </li>
      </ul>
    
    </nav>

    

    <nav aria-label="Pages with more detail on this service" class="gem-c-contents-list  govuk-!-margin-bottom-3" role="navigation">
       <h2 class="gem-c-contents-list__title">
         Contents
     </h2>
       <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          <strong>Overview</strong>
         </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="nitrogen.html">Nitrogen dioxide</a>
        </li>
        
           <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
             <a class="gem-c-contents-list__link govuk-link" href="pm10.html">PM10</a>
           </li>
           <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="pm2_5.html">PM2.5</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="ozone.html">Ozone</a>
          </li>
          
       </ol>
     </nav>

<div class="govuk-divider"></div>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">Data for this year has been  <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
  verified
   </div></h3>
   <table class="govuk-table govuk-!-margin-bottom-5 govuk-!-margin-top-6">
    <thead class="govuk-table__head">
    
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" style="width: 40%;">Pollutant</th>

 
        <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 15%; padding-right: 0px;">Annual average</th>

        

        <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 40%;">Daily exceedances</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

        <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Nitrogen dioxide</strong>

          <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 99%</span>
         
    
        </th>

 
        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for nitrogen dioxide is 40 micrograms per cubic metre (µg/m3). This means that average nitrogen dioxide levels at any site must not exceed 40 µg/m3 in a calendar year.">
          30 µg/m3
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>
        </td>
     

        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 18 daily exceedances over 200 micrograms per cubic metre (µg/m3) for nitrogen dioxide in a calendar year.">
          0
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>

       
        </td>
       
      </tr>

      <tr class="govuk-table__row">
    
        <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM10</strong>

          <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 100%</span>
        


         
        </th>

        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for PM10 is 40 micrograms per cubic metre (µg/m3). This means that average PM10 levels at any site must not exceed 40 µg/m3 in a calendar year.">
          15 µg/m3
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>
        </td>

        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 35 daily exceedances over 50 micrograms per cubic metre (µg/m3) for nitrogen dioxide in a calendar year.">
          1
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>
         
        </td>
     
      </tr>
  

      <tr class="govuk-table__row">

        <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM2.5</strong>
          

          <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 100%</span>
          
     
        </th>


        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for PM2.5 is 20 micrograms per cubic metre (µg/m3). This means that average PM2.5 levels at any site must not exceed 20 µg/m3 in a calendar year.">
          8 µg/m3
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>
        </td>


        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There are no daily exceedance thresholds for PM2.5.">
          N/A</div>
         
        </td>
      </tr>
    
     


      <tr class="govuk-table__row">

        <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Ozone</strong>

          <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 97%</span>
        
  

        </th>


        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="There is not an annual average limit for Ozone.">
          66 µg/m3
           </div></td>
        
        <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 25 daily exceedances over 120 micrograms per cubic metre (µg/m3) for ozone in a calendar year, averaged over 3 years.">
          5
           </div>
          <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
            Below limit
          </strong></span>

         
        </td>
   
      </tr>


      

   

    </tbody>
  </table>



          <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
            <span class="aq-button-secondary__icon">
              <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
            </span>
            <span class="aq-button-secondary__text">
              Download daily average data CSV (326KB)</span>
              <span class="govuk-visually-hidden">
              (Visual only)
            </span>
          </a>
          <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
            <span class="aq-button-secondary__icon">
              <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
            </span>
            <span class="aq-button-secondary__text">
              Download hourly data CSV (626KB)</span>
              <span class="govuk-visually-hidden">
              (Visual only)
            </span>
          </a>
       <!--    <div class="govuk-divider"></div> -->

      <nav class="govuk-pagination govuk-pagination--block govuk-!-margin-top-6" aria-label="Pagination">
        
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="nitrogen.html" rel="next">
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Nitrogen dioxide</span>
          </a>
        </div>
      </nav>
      <!-- <div class="govuk-divider"></div>
      {{ govukButton({
        text: "Download data for this station",
        href: ""
      }) }} -->
   </div>
 </div>

{% endblock %}