{% extends "layouts/v6.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="hub.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find monitoring stations by location</h1>

    <!-- <div class="govuk-inset-text">
      Available monitoring stations are from the Automatic Urban and Rural network.
     </div> -->
   <!--  <p class="govuk-body">View and download air pollution data from one or more monitoring stations.</p> -->

  

   <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Search by town or postcode
    </label>
    <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
  </div>

    <div class="govuk-form-group govuk-!-margin-top-3">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <legend class="govuk-fieldset__legend">
            Approximate search area
          </legend>
        </legend>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="changedName">
              5 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              25 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              50 miles
            </label>
          </div>
        </div>
      </fieldset>
     
    </div>
    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0",
      href: "results-b2-4qa.html"
      }) }}
  </div>
    
</div>

    

      </div>
</div>

{% endblock %}