{% extends "layouts/v6.html" %}

{% set pageName="Birmingham A4540 Roadside monitoring station - GOV.UK" %}


{% block beforeContent %}
<a href="results-b2-4qa.html" class="govuk-back-link">Back</a>
<!-- <a href="results-b2-4qa.html" style="display: none;" id="station-b2" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <!--          <p class="govuk-caption-l">Automatic Urban and Rural network</p> -->
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Birmingham A4540 Roadside</h1>   
          <strong class="govuk-tag govuk-tag--green" style="margin-top: 0px; padding: 6px 12px 6px 12px;">
            Active
          </strong>
          <p class="govuk-body govuk-!-margin-top-3" style="margin-left: 5px; display: inline-block; color: #505a5f;">Latest at 12:00pm (midday) on 5 November 2024</p>

         
</div>
</div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

              <a href="https://www.google.co.uk/maps?q=52.476145,-1.874978" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="currentColor"></path>
                  </svg>
                </span>
                <span class="aq-button-secondary__text">
                  View location on Google Maps</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
            <!--   <div class="govuk-divider"></div> -->
          <dl class="defra-aq-features__list govuk-!-margin-top-3" style="gap: 50px;">
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Automatic Urban and Rural</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 40%">
              <dt class="defra-aq-features__key govuk-caption-m">Local authority</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Birmingham City Council</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 30%">
        
              <dt class="defra-aq-features__key govuk-caption-m">Site type</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">
                <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about urban traffic" data-toggletip-content="This monitoring site is in a city or town close to roads, motorways or highways.">
                  Urban traffic
                  </div>
                </dd>
             
            </div>
            </dl>

   


           
          
          <dl class="defra-aq-features__list" style="gap: 50px; box-shadow: none; padding-bottom: 0;">
            
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m">Surrounding area</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Residential</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 40%">
              <dt class="defra-aq-features__key govuk-caption-m">
                <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about sensitive receptors" data-toggletip-content="Sensitive receptors are places where there may be people who are vulnerable to air pollution.">
                Sensitive receptors nearby
                </div></dt> 
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">The Bridge Church <br>(77 metres away)</dd>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 3px;">Bordesley Village Primary School <br>(320 metres away)</dd>
           <!--    
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 3px;">Residential</dd> -->
            </div>
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about other features" data-toggletip-content="Features near the site that could affect air pollution.">
                Other features
                </div></dt>
              <dd class="defra-aq-features__value govuk-body" style="margin: 5px 0 5px 0;">Traffic speed camera (2 metres away)</dd>
              <dd class="defra-aq-features__value govuk-body" style="margin: 5px 0 5px 0;">Fuel station <br>(20 metres away)</dd>
              
              
            </div>
        
            </dl>


 

            <div class="govuk-divider govuk-!-margin-bottom-3"></div>
            <dl class="defra-aq-features__list" style="gap: 50px;">
              <div class="defra-aq-features__item" style="width: 30%">
                <dt class="defra-aq-features__key govuk-caption-m">Distance from kerb</dt>
                <dd class="defra-aq-features__value govuk-body">6.5 metres</dd>
             
            
              </div>
              <div class="defra-aq-features__item" style="width: 40%">
                <dt class="defra-aq-features__key govuk-caption-m">Coordinates</dt>
                <dd class="defra-aq-features__value govuk-body" style="margin: 5px 0 5px 0;">52.476145, -1.874978</dd>
              
              </div>
              <div class="defra-aq-features__item" style="width: 30%">
         
                <dt class="defra-aq-features__key govuk-caption-m">Last calibrated</dt>
                <dd class="defra-aq-features__value govuk-body">July 2024</dd>
                <dt class="defra-aq-features__key govuk-caption-m govuk-!-margin-top-3">Next calibrated</dt>
                <dd class="defra-aq-features__value govuk-body">December 2024</dd>
              </div>
              </dl>

            
              

          <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-2">Air pollution levels in 2023</h2>
          <p class="govuk-body govuk-!-margin-bottom-6">1 January to 31 December</p>
         
          

          <!--   <h2 class="govuk-heading-m govuk-!-margin-top-6">UK annual air quality limits</h2>
            <p class="govuk">Limit values are legally binding levels of pollution that must not be exceeded.</p> -->

            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Data for this year has been  <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
              verified
               </div></h3>
               
               <table class="govuk-table govuk-!-margin-bottom-5 govuk-!-margin-top-6">
                <thead class="govuk-table__head">
                
                  <tr class="govuk-table__row">
            
                    <th scope="col" class="govuk-table__header" style="width: 30%;">Pollutant</th>
            
             
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 30%; padding-right: 0px;">Annual average</th>
            
                    
            
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 40%;">Daily exceedances</th>
            
                  </tr>
                </thead>
            
                <tbody class="govuk-table__body">
            
                  <tr class="govuk-table__row">
            
                    <th scope="row" class="govuk-table__header pollutant-table-row"><strong><a href="nitrogen" class="govuk-link">Nitrogen dioxide</a></strong>
            
                      <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 99%</span>
                     
                
                    </th>
            
             
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for nitrogen dioxide is 40 micrograms per cubic metre (µg/m3). This means that average nitrogen dioxide levels at any site must not exceed 40 µg/m3 in a calendar year.">
                      30 µg/m3
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
                    </td>
                 
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 18 daily exceedances over 200 micrograms per cubic metre (µg/m3) for nitrogen dioxide in a calendar year.">
                      0
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
            
                   
                    </td>
                   
                  </tr>
            
                  <tr class="govuk-table__row">
                
                    <th scope="row" class="govuk-table__header pollutant-table-row"><strong><a href="pm10" class="govuk-link">PM10</a></strong>
            
                      <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 100%</span>
                    
            
            
                     
                    </th>
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for PM10 is 40 micrograms per cubic metre (µg/m3). This means that average PM10 levels at any site must not exceed 40 µg/m3 in a calendar year.">
                      15 µg/m3
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
                    </td>
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 35 daily exceedances over 50 micrograms per cubic metre (µg/m3) for nitrogen dioxide in a calendar year.">
                      1
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
                     
                    </td>
                 
                  </tr>
              
            
                  <tr class="govuk-table__row">
            
                    <th scope="row" class="govuk-table__header pollutant-table-row"><strong><a href="pm2_5" class="govuk-link">PM2.5</a></strong>
                      
            
                      <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 100%</span>
                      
                 
                    </th>
            
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="The UK limit for PM2.5 is 20 micrograms per cubic metre (µg/m3). This means that average PM2.5 levels at any site must not exceed 20 µg/m3 in a calendar year.">
                      8 µg/m3
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
                    </td>
            
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There are no daily exceedance thresholds for PM2.5.">
                      N/A</div>
                     
                    </td>
                  </tr>
                
                 
            
            
                  <tr class="govuk-table__row">
            
                    <th scope="row" class="govuk-table__header pollutant-table-row"><strong><a href="ozone" class="govuk-link">Ozone</a></strong>
            
                      <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 97%</span>
                    
              
            
                    </th>
            
            
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information annual average thresholds" data-toggletip-content="There is not an annual average limit for Ozone.">
                      66 µg/m3
                       </div></td>
                    
                    <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances" data-toggletip-content="There must not be more than 25 daily exceedances over 120 micrograms per cubic metre (µg/m3) for ozone in a calendar year, averaged over 3 years.">
                      5
                       </div>
                      <span style="font-weight: normal; display: block; margin-top: 12px; "><strong class="govuk-tag govuk-tag--green">
                        Below limit
                      </strong></span>
            
                     
                    </td>
               
                  </tr>
            
            
                  
            
               
            
                </tbody>
              </table>
          


         
           
         

   <!--        <a class="govuk-body govuk-link govuk-!-margin-top-3" href="overview.html">View more information about air pollution levels</a>
 -->
          
         
       
    
       <!--  <div class="govuk-divider"></div> -->
    
        
        <h1 class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-3">Download data for 2023</h1>
<!--         <p class="govuk-body">1 January to 31 December</p> -->
<div class="govuk-inset-text">
  All pollutant data is available from 2018 to 2024.
</div> 
        <p class="govuk-body go"><a href="overview.html" class="govuk-link">View and download data for other years</a></p>
        
      
       <!--  <h3 class="govuk-heading-s govuk-!-margin-bottom-7">Data is verified until 1 July  <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
          2024
           </div></h3> -->
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-tabs govuk-!-margin-bottom-0 govuk-!-margin-top-6" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                  Contents
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#allpollutants">
                      All pollutants
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item ">
                    <a class="govuk-tabs__tab" href="#nitrogen">
                      Nitrogen dioxide
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#pm10">
                      PM10
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#pm2-5">
                      PM2.5
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#ozone">
                      Ozone
                    </a>
                  </li>
                
                 
                  
                 
                </ul>
                <div class="govuk-tabs__panel" id="allpollutants">
            
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">All pollutants</h2>
          
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                    <span class="aq-button-secondary__icon">
                      <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                    </span>
                    <span class="aq-button-secondary__text">
                      Download hourly data CSV (626KB)</span>
                      <span class="govuk-visually-hidden">
                      (Visual only)
                    </span>
                  </a>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                    <span class="aq-button-secondary__icon">
                      <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                    </span>
                    <span class="aq-button-secondary__text">
                      Download daily average data CSV (326KB)</span>
                      <span class="govuk-visually-hidden">
                      (Visual only)
                    </span>
                  </a>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                    <span class="aq-button-secondary__icon">
                      <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                    </span>
                    <span class="aq-button-secondary__text">
                      Download annual average data CSV (326KB)</span>
                      <span class="govuk-visually-hidden">
                      (Visual only)
                    </span>
                  </a>
        
                 
                </div>
                <div class="govuk-tabs__panel" id="nitrogen">
            
                 
           <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Nitrogen dioxide</h2>
           <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
            <span class="aq-button-secondary__icon">
              <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
            </span>
            <span class="aq-button-secondary__text">
              Download hourly data CSV (626KB)</span>
              <span class="govuk-visually-hidden">
              (Visual only)
            </span>
          </a>
          <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
            <span class="aq-button-secondary__icon">
              <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
            </span>
            <span class="aq-button-secondary__text">
              Download daily average data CSV (326KB)</span>
              <span class="govuk-visually-hidden">
              (Visual only)
            </span>
          </a>
                 
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm10">
                  
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM10</h2>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                   <span class="aq-button-secondary__icon">
                     <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                   </span>
                   <span class="aq-button-secondary__text">
                     Download hourly data CSV (626KB)</span>
                     <span class="govuk-visually-hidden">
                     (Visual only)
                   </span>
                 </a>
                 <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3">
                   <span class="aq-button-secondary__icon">
                     <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                   </span>
                   <span class="aq-button-secondary__text">
                     Download daily average data CSV (326KB)</span>
                     <span class="govuk-visually-hidden">
                     (Visual only)
                   </span>
                 </a>

                </div>
                
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm2-5">
                  
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM2.5</h2>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                   <span class="aq-button-secondary__icon">
                     <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                   </span>
                   <span class="aq-button-secondary__text">
                     Download hourly data CSV (626KB)</span>
                     <span class="govuk-visually-hidden">
                     (Visual only)
                   </span>
                 </a>
                 <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                   <span class="aq-button-secondary__icon">
                     <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                   </span>
                   <span class="aq-button-secondary__text">
                     Download daily average data CSV (326KB)</span>
                     <span class="govuk-visually-hidden">
                     (Visual only)
                   </span>
                 </a>

                </div>
               
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ozone">
    
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Ozone</h2>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                    <span class="aq-button-secondary__icon">
                      <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                    </span>
                    <span class="aq-button-secondary__text">
                      Download daily 8 hour average data CSV (126KB)</span>
                      <span class="govuk-visually-hidden">
                      (Visual only)
                    </span>
                  </a>
                  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                    <span class="aq-button-secondary__icon">
                      <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                    </span>
                    <span class="aq-button-secondary__text">
                      Download hourly data CSV (426KB)</span>
                      <span class="govuk-visually-hidden">
                      (Visual only)
                    </span>
                  </a>
                </div>
               
                
              </div>
          
 


        

        

         
          </div>
          </div>
    </div>
    
</div>

{% endblock %}