{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="filters.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Select monitoring networks
          </h1>
        </legend>
        <details class="govuk-details govuk-!-margin-bottom-6 govuk-!-margin-top-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            What monitoring networks are available?
            </span>
          </summary>
          <div class="govuk-details__text">
            <strong>Automatic Urban and Rural network (AURN)</strong>
            <br>
            The AURN is the largest air pollution monitoring network in the UK.
            <br><br>
            AURN monitoring sites provide high resolution, hourly pollution data for nitrogen dioxide, PM10, PM2.5, ozone and sulphur dioxide.
            <br><br>
            You can use data from the AURN to check compliance with the Ambient Air Quality Directive. This directive sets air quality standards for the UK.
            <br><br>
            <strong>Locally-managed automatic monitoring network</strong>
            <br>
            Most locally managed air pollution monitoring sites are run by local authorities.
            <br><br>
            It provides air pollution data from across the UK, but the government do not use this data in their national monitoring.
            <br><br>
            This network may include data from other air quality monitoring programmes, industry and airports.
          </div>
        </details>
        <div id="waste-hint" class="govuk-hint">

        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Select all
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Automatic Urban and Rural Network (AURN)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
              Locally-managed automatic monitoring network
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    


    {{ govukButton({
      text: "Add networks",
      href: "filters.html",
      classes: "govuk-!-margin-top-3"
    }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
