{% extends "layouts/main.html" %}

{% set pageName="Birmingham A4540 Roadside monitoring station - GOV.UK" %}


{% block beforeContent %}
<a href="results-b2-4qa-filtered.html" id="station-birm" class="govuk-back-link">Back</a>
<!-- <a href="results-b2-4qa.html" style="display: none;" id="station-b2" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <!--          <p class="govuk-caption-l">Automatic Urban and Rural network</p> -->
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Birmingham A4540 Roadside</h1>   
          <strong class="govuk-tag govuk-tag--green" style="margin-top: 0px;">
            Active
          </strong>
          <p class="govuk-body govuk-!-margin-top-3" style="margin-left: 5px; display: inline-block; color: #505a5f;">Latest at 16:00 on 16 August 2024</p>
         
</div>
</div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
            <!--   <div class="govuk-divider"></div> -->
          <dl class="defra-aq-features__list govuk-!-margin-top-3" style="gap: 50px;">
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Automatic Urban and Rural</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 40%">
              <dt class="defra-aq-features__key govuk-caption-m">Local authority</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Birmingham City Council</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 30%">
        
              <dt class="defra-aq-features__key govuk-caption-m">Site type</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Urban traffic</dd>
             
            </div>
            </dl>

   


           
          
          <dl class="defra-aq-features__list" style="gap: 50px; box-shadow: none; padding-bottom: 0;">
            
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m">Surrounding area</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">Residential</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 40%">
              <dt class="defra-aq-features__key govuk-caption-m">Sensitive receptors nearby</dt> 
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px;">The Bridge Church <br>(77 metres away)</dd>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 3px;">Bordesley Village Primary School <br>(320 metres away)</dd>
           <!--    
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 3px;">Residential</dd> -->
            </div>
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m">Coordinates</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin: 5px 0 5px 0;">52.476145, -1.874978</dd>
              <p class="govuk-body"> <a href="https://www.google.co.uk/maps?q=52.476145,-1.874978" target="_blank" class="govuk-link" >View on a map <br>(opens Google Maps in a new tab)</a> </p>
              
            </div>
        
            </dl>

            <details class="govuk-details govuk-!-margin-top-6">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                 Description of the surrounding area
                </span>
              </summary>
              <div class="govuk-details__text">
                The station is on a residential street with roadside trees, near a small car park and a traffic speed camera. Kingston Hill Local Park and Digbeth Branch Canal are within a short distance.
              </div>
            </details>

            <div class="govuk-divider govuk-!-margin-bottom-3"></div>
            <dl class="defra-aq-features__list" style="gap: 50px;">
              <div class="defra-aq-features__item" style="width: 30%">
                <dt class="defra-aq-features__key govuk-caption-m">Distance from kerb</dt>
                <dd class="defra-aq-features__value govuk-body">6.5 metres</dd>
              </div>
              <div class="defra-aq-features__item" style="width: 40%">
                <dt class="defra-aq-features__key govuk-caption-m">Last calibrated</dt>
                <dd class="defra-aq-features__value govuk-body">July 2024</dd>
              </div>
              <div class="defra-aq-features__item" style="width: 30%">
                <dt class="defra-aq-features__key govuk-caption-m">Next calibrated</dt>
                <dd class="defra-aq-features__value govuk-body">December 2024</dd>
              </div>
              </dl>

              

          <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-2">Pollutants measured in 2023</h2>
          <p class="govuk-body govuk-!-margin-bottom-6">1 January to 31 December 2023</p>
         
          

            <!-- <h2 class="govuk-heading-m govuk-!-margin-top-6">Annual air quality thresholds</h2> -->


            <div class="grid-container govuk-!-margin-top-6 govuk-!-margin-bottom-3">
              <dl class="grid-item">
                  <dt class="title">Nitrogen dioxide</dt>
                  <dd class="description">Annual average</dd>
                  <dt class="number">30<span style="margin-left: 5px; display: inline-block; font-size: 19px;">µg/m3</span></dt>
                  <dd class="description"> 
                    <strong class="govuk-tag govuk-tag--green">
                    Below threshold
                  </strong>
                </dd>
                  <dd class="description">No more than 40µg/m3 on average in a calendar year</dd>
              </dl>
              <dl class="grid-item">
                <dt class="title">PM10</dt>
                <dd class="description">Annual average</dd>
                <dt class="number">15<span style="margin-left: 5px; display: inline-block; font-size: 19px;">µg/m3</span></dt>
                <dd class="description"> 
                  <strong class="govuk-tag govuk-tag--green">
                  Below threshold
                </strong>
              </dd>
                <dd class="description">No more than 40 μg/㎥ on average in a calendar year
                </dd>
            </dl>
              <dl class="grid-item">
                  <dt class="title">PM2.5</dt>
                  <dd class="description">Annual average</dd>
                  <dt class="number">8<span style="margin-left: 5px; display: inline-block; font-size: 19px;">µg/m3</span></dt>
                  <dd class="description"> 
                    <strong class="govuk-tag govuk-tag--green">
                    Below threshold
                  </strong>
                </dd>
                  <dd class="description">No more than 20 μg/㎥ on average in a calendar year
                  </dd>
              </dl>
              <dl class="grid-item">
                <dt class="title">Ozone</dt>
                <dd class="description">Days above 100µg/m3</dd>
                <dt class="number">0</dt>
                <dd class="description"> 
                  <strong class="govuk-tag govuk-tag--green">
                  Below threshold
                </strong>
              </dd>
                <dd class="description">No more than 10 days above 100 μg/㎥ in a calendar year</dd>
            </dl>
          </div>
           
          <a class="govuk-body govuk-link govuk-!-margin-top-3" href="pollutants.html">View pollutant levels</a>

          <h2 class="govuk-heading-m govuk-!-margin-top-6">Data capture and daily exceedences</h2>
          <table class="govuk-table govuk-!-margin-bottom-5 govuk-!-margin-top-6">
            <thead class="govuk-table__head">
            
              <tr class="govuk-table__row">
    
                <th scope="col" class="govuk-table__header" style="width: 40%;">Pollutant</th>

         
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 15%; padding-right: 0px;">Data capture</th>

                

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 40%;">Daily exceedences</th>
    
              </tr>
            </thead>
    
            <tbody class="govuk-table__body">
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Nitrogen dioxide (NO2)</strong>
              <!--     <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 95%</span> -->
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Years available: 2018 to 2024</span>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Instrument: BAM 1020</span>
                 
            
                </th>

         
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">95%</td>
             
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">over 200 µg/m3</span>
      
               
                </td>
               
              </tr>

              <tr class="govuk-table__row">
            
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM10</strong>
                  <!-- <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 93%</span> -->
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Years available: 2018 to 2024</span>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Instrument: FIDAS200</span>
                

      
                 
                </th>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">93%</td>
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="arrow-up"></div><strong>3
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">over 50 µg/m3</span>
                </strong>
                <span style="font-weight: normal; display: block; margin-top: 5px; "><a href="pollutants" class="govuk-link">View on a graph</a></span>
                
                </td>
             
              </tr>
          

              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM2.5</strong>
                  
<!--                   <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 95%</span> -->
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Years available: 2018 to 2024</span>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Instrument: FIDAS200</span>
                  
             
                </th>

      
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">92%</td>
       
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">over 35 µg/m3</span>
                </td>
              </tr>
            
             


              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Ozone (O3)</strong>
<!--                   <span style="font-weight: normal; display: block; margin-top: 4px; ">Data capture: 97%</span> -->
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Years available: 2018 to 2024</span>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Instrument: BAM 1020</span>
                
          
       
                </th>


                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">97%</td>
                
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">over 100 µg/m3</span>

                 
                </td>
           
              </tr>


              
     
           
    
            </tbody>
          </table>
         
       
    <!-- 
        <div class="govuk-divider"></div> -->



        {{ govukButton({
          text: "Download data for this station",
          href: ""
        }) }}
    </div>
    
</div>

{% endblock %}