{% extends "layouts/v15.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block header %}
  {{ govukHeader({
    
  }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Air quality</h1>
  <p class="govuk-body">Check air quality, get air pollution data and find out about health effects of air pollution.</p>
   
    
<h2 class="govuk-heading-m govuk-!-margin-top-9">Popular services</h2>
  
<p class="govuk-body"><a href="https://check-local-aq-c31e075e52e2.herokuapp.com/version-3" class="govuk-link">Check air quality</a></p>
<p class="govuk-body"><a href="start.html" class="govuk-link">Get air pollution data</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Drive in a clean air zone</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Report an environmental problem</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Get an air pollution assessment</a></p>

    <div class="div govuk-divider"></div>
<h2 class="govuk-heading-m">About air pollution</h2>
  
<p class="govuk-body"><a href="" class="govuk-link">Health effects of air pollution</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Air quality: explaining air pollution</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Health matters: air pollution</a></p>

    <div class="div govuk-divider"></div>
<h2 class="govuk-heading-m">Local air quality management</h2>
  
<p class="govuk-body"><a href="" class="govuk-link">Clean air zones</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Smoke control areas: the rules</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Garden bonfires: the rules</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Preventing air pollution</a></p>

    <div class="div govuk-divider"></div>
<h2 class="govuk-heading-m">Air quality policy and strategy</h2>
  
<p class="govuk-body"><a href="" class="govuk-link">25 Year Environment Plan</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Clean Air Strategy 2019</a></p>

    <div class="div govuk-divider"></div>
<h2 class="govuk-heading-m">Air quality data</h2>
  
<p class="govuk-body"><a href="" class="govuk-link">Sources of air pollution data</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Air quality statistics</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Emissions of air pollutants</a></p>

    <div class="div govuk-divider"></div>
<h2 class="govuk-heading-m">Air quality policy and strategy</h2>
  
<p class="govuk-body"><a href="" class="govuk-link">Air pollution in the UK 2024</a></p>
<p class="govuk-body"><a href="" class="govuk-link">Environmental Improvement Plan 2023</a></p>
    </div>

</div>


{% endblock %}