{% extends "layouts/mvp-final.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Bad request</h1>

    <p class="govuk-body">Try again later.</p>

   <p class="govuk-body">You can go to <a href="https://uk-air.defra.gov.uk/" class="govuk-link">UK AIR</a> to get air pollution data.</p>
   
</div>

{% endblock %}