{% extends "layouts/mvp-final.html" %}

{% set pageName="Accessibility statement
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="index.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <div class="app-accessibility-page" data-module="app-accessibility-page">
    
          <h1 class="govuk-heading-xl odd-page">Accessibility statement</h1>
          <p class="govuk-body">The department for Environment, Food and Rural Affairs is committed to making its websites accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    
          <p class="govuk-body">This accessibility statement applies to the <a href="http://www.get-air-pollution-data.service.gov.uk/">Get air pollution data</a> website.</p>
    
          <h2 class="govuk-heading-m">Compliance status</h2>
    
          <p class="govuk-body">This website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard.</p>
    
          <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    
          <p class="govuk-body">The ‘get air pollution data’ website was evaluated for accessibility by Defra. </p>
          <p class="govuk-body">This statement was prepared on 8 January 2025.</p>
          <p class="govuk-body">This statement was last reviewed on 7 April 2025.</p>
          <h2 class="govuk-heading-m">Feedback and contact information</h2>
          <p class="govuk-body">If you notice any compliance failures or need to request information and content that is not provided in this document, email <a href="mailto:accessibility@defra.gov.uk">accessibility@defra.gov.uk</a>.</p>
          <h2 class="govuk-heading-m">Enforcement procedure</h2>
          <p class="govuk-body">The Equality and Human Rights Commission is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
          <p class="govuk-body">If you are not happy with how Defra responds to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>
     
      </div>
</div>

{% endblock %}