{% extends "layouts/mvp-final.html" %}

{% set pageName="Accessibility statement
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="index.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <div class="app-accessibility-page" data-module="app-accessibility-page">
    
          <h1 class="govuk-heading-xl odd-page">Accessibility Statement</h1>
          <p class="govuk-body">Department for Environment, Food &amp; Rural Affairs is committed to making its websites accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    
          <p class="govuk-body">This accessibility statement applies to <a href="">get air pollution data</a></p>
    
          <h2 class="govuk-heading-m">Compliance status</h2>
    
          <p class="govuk-body">This website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard.</p>
    
          <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    
          <p class="govuk-body">This statement was prepared on 18 September 2024.</p>
          <p class="govuk-body">The website was evaluated by the Department for Environment, Food &amp; Rural Affairs.</p>
          <p class="govuk-body">The statement was last reviewed on 16 September 2024.</p>
          <h2 class="govuk-heading-m">Feedback and contact information</h2>
          <p class="govuk-body">If you notice any compliance failures or need to request information and content that is not provided in this document, please email <a href="mailto:accessibility@defra.gov.uk">accessibility@defra.gov.uk.</a></p>
          <h2 class="govuk-heading-m">Enforcement procedure</h2>
          <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
          <p class="govuk-body">If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>
     
      </div>
</div>

{% endblock %}