{% extends "layouts/mvp-final.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="start.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Finalised MVP pages</h1>
<h2 class="govuk-heading-m">Main pages</h2>

   <p class="govuk-body"><a href="start.html" class="govuk-link">Start page</a></p>
   <p class="govuk-body"><a href="search.html" class="govuk-link">Search page</a></p>

   <h2 class="govuk-heading-m">Exemption pages</h2>
      </div>
</div>

{% endblock %}