{% extends "layouts/mvp-final.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="start.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Finalised MVP pages</h1>
<h2 class="govuk-heading-m">Main pages</h2>
<h3 class="govuk-heading-s">Start</h3>
   <p class="govuk-body"><a href="start.html" class="govuk-link">Start page</a></p>
   <h3 class="govuk-heading-s">Search</h3>
   <p class="govuk-body"><a href="search.html" class="govuk-link">Search page</a></p>
   <p class="govuk-body"><a href="search-error.html" class="govuk-link">Search page - validation error, nothing in search box</a></p>
   <p class="govuk-body"><a href="search-no-results.html" class="govuk-link">Search page - more than one result from search</a></p>
   <p class="govuk-body"><a href="search-multiple-results.html" class="govuk-link">Search page - no results from search</a></p>


   <h2 class="govuk-heading-m">Exemption pages</h2>
   <p class="govuk-body"><a href="service-unavailable.html" class="govuk-link">Service is unavailable</a></p>
   <p class="govuk-body"><a href="service-problem.html" class="govuk-link">There is a problem on the service</a></p>



      </div>
</div>

{% endblock %}