{% extends "layouts/mvp-final.html" %}

{% set pageName="Birmingham A4540 Roadside monitoring station - Get air pollution data - GOV.UK" %}


{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
<a href="results-b2-4qa.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block head %}
  {{ super() }}
  <meta property="og:title" content="Birmingham A4540 Roadside monitoring station - Get air pollution data - GOV.UK">
  <meta name="description" content="Monitoring station information for Birmingham A4540 Roadside.">
  <meta name="og:description" content="Monitoring station information for Birmingham A4540 Roadside.">
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Birmingham A4540 Roadside</h1>   
          <strong class="govuk-tag status-tag govuk-tag--green">
            Active
          </strong>
          <p class="govuk-body status-description govuk-!-margin-top-3" id="status">Latest at 11:00am on 25 November 2024</p>

          <dl class="defra-aq-features__list govuk-!-margin-top-3">
            <div class="defra-aq-features__item">
              <dt class="defra-aq-features__key govuk-caption-m">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body">Automatic Urban and Rural (AURN)</dd>
            </div>
            <div class="defra-aq-features__item">
              <dt class="defra-aq-features__key govuk-caption-m">Region</dt>
              <dd class="defra-aq-features__value govuk-body">West Midlands</dd>
            </div>
            <div class="defra-aq-features__item">
              <dt class="defra-aq-features__key govuk-caption-m">Site type</dt>
              <dd class="defra-aq-features__value govuk-body">
                <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about urban traffic" data-toggletip-content="This monitoring site is in a city or town close to roads, motorways or highways.">
                  Urban traffic
                  </div>
                  <p class="defra-aq-features__link govuk-body govuk-!-margin-top-1"><a href="https://www.google.co.uk/maps?q=52.476145,-1.874978" class="govuk-link" target="_blank" >View on Google Maps (opens in new tab)</a></p>
                </dd>
             
            </div>
            </dl>

 


            
             

          <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Air pollution levels in 2025</h2>
          <p class="govuk-body govuk-!-margin-bottom-3">1 January to 6 March</p>
          <nav class="moj-sub-navigation govuk-!-margin-bottom-6" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#1">2018</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#2">2019</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#3">2020</a>
              </li>
      
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#3">2021</a>
              </li>
      
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="">2022</a>
              </li>
      
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#5">2023</a>
              </li>
      
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="station-2024.html">2024</a>
              </li>
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="">2025</a>
              </li>
            </ul>
          
          </nav>

         <div class="govuk-inset-text">
  There is no data available for this year.
</div>
         
          
       


           
                  
                  
                </div>
               
                
              </div>
          
 


        

        

         
          </div>
          </div>
    </div>
    
</div>

{% endblock %}