{% extends "layouts/v3.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Get air pollution data</h1>

    <div class="govuk-divider"></div>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Find monitoring stations by location
    </h2>
    <p class="govuk-body">View and download data from one or more monitoring stations.<!--  from the Automatic Urban and Rural Network (AURN) and the Locally-managed Automatic Network. --></p>
    <a href="/version-3/search.html" class="govuk-body govuk-link">Search for a place, local authority or postcode</a>

    

    <a href="" class="govuk-body govuk-link govuk-!-margin-top-3" style="display: block;">Search by coordinates, easting and northing or grid reference</a>

    <div class="govuk-divider"></div>

   

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
      Filter monitoring stations
    </h2>
<!--     <p class="govuk-body">Filter by pollutant, environment type, year and country.</p> -->
    <a href="" class="govuk-body govuk-link">Filter by  pollutant, environment type, year and country</a>

    </div>

      </div>


{% endblock %}