{% extends "layouts/main.html" %}

{% set pageName="Birmingham A4540 Roadside monitoring station - GOV.UK" %}


{% block beforeContent %}
<a href="results-b2-4qa.html" id="station-birm" class="govuk-back-link">Back</a>
<!-- <a href="results-b2-4qa.html" style="display: none;" id="station-b2" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

            <p class="govuk-caption-l">Automatic Urban and Rural network</p>
          <h1 class="govuk-heading-xl">Birmingham A4540 Roadside</h1>
       

          <div class="defra-aq-description" style="box-shadow: none; padding-bottom: 0;">
                <h2 class="govuk-heading-m govuk-!-margin-top-5">Description and features</h2>
                <p class="govuk-body">Roadside monitoring station beside the A4540 (Watery Lane Middleway) which forms part of Birmingham's ring road. Located at the end of Keeley Street.<br><br>The station is on a residential street with roadside trees, near a small car park and a traffic speed camera. Kingston Hill Local Park and Digbeth Branch Canal are within a short distance.
                </p>
              </div>
     
              <div class="govuk-divider govuk-!-margin-bottom-2"></div>

   <!--      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Station information</h2> -->
          <dl class="defra-aq-features__list">
          <div class="defra-aq-features__item">
            <dt class="defra-aq-features__key govuk-caption-m">Local authority</dt>
            <dd class="defra-aq-features__value govuk-body">Birmingham City Council</dd>
          </div>
          <div class="defra-aq-features__item">
            <dt class="defra-aq-features__key govuk-caption-m">Region</dt>
            <dd class="defra-aq-features__value govuk-body">West Midlands</dd>
          </div>
          <div class="defra-aq-features__item">

            <dt class="defra-aq-features__key govuk-caption-m">Environment type</dt>
            <dd class="defra-aq-features__value govuk-body">Urban traffic</dd>
          </div>
          </dl>
          <dl class="defra-aq-features__list">
            <div class="defra-aq-features__item">
              <dt class="defra-aq-features__key govuk-caption-m">Last calibrated</dt>
              <dd class="defra-aq-features__value govuk-body">December 2022</dd>
            </div>
            <div class="defra-aq-features__item">
             
              <dt class="defra-aq-features__key govuk-caption-m">Surrounding area</dt>
              <dd class="defra-aq-features__value govuk-body">Residential</dd>
            </div>
            <div class="defra-aq-features__item">
              <dt class="defra-aq-features__key govuk-caption-m">Easting and northing</dt>
              <dd class="defra-aq-features__value govuk-body"> 405650, 287050</dd>
            </div>
            </dl>


            <dl class="defra-aq-features__list">
              <div class="defra-aq-features__item">
                <dt class="defra-aq-features__key govuk-caption-m">Distance from road</dt>
                <dd class="defra-aq-features__value govuk-body">0.5 metres</dd>
              </div>
              <div class="defra-aq-features__item">
                <dt class="defra-aq-features__key govuk-caption-m">Distance from kerb</dt>
                <dd class="defra-aq-features__value govuk-body">6.5 metres</dd>
              </div>
              <div class="defra-aq-features__item">
                <dt class="defra-aq-features__key govuk-caption-m">Altitude</dt>
                <dd class="defra-aq-features__value govuk-body">109 metres</dd>
              </div>
              </dl>

            

          <h2 class="govuk-heading-m govuk-!-margin-top-6">Pollutants and exceedences in 2023</h2>
          <table class="govuk-table govuk-!-margin-bottom-3">
           
            <thead class="govuk-table__head">
            
              <tr class="govuk-table__row">
    
                <th scope="col" class="govuk-table__header" style="width: 32%;">Pollutant</th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 20%; padding-right:0;">Years of data</th>
    
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 20%; padding-right:0;">Data capture</th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 18%;">Exceedences</th>
    
              </tr>
            </thead>
    
            <tbody class="govuk-table__body">
    
              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Nitrogen dioxide (NO2)</strong>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Exceedence over 200 µg/m3</span>
            
                </th>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">2018 to 2024</td>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">95%</td>
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0

               
                </td>
               
              </tr>


              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>Ozone (O3)</strong>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Exceedence over 100 µg/m3</span>
       
                </th>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">2018 to 2024</td>

                            <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">97%</td>
                
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0

                 
                </td>
           
              </tr>

              <tr class="govuk-table__row">
    
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM2.5</strong>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Exceedence over 35 µg/m3</span>
             
                </th>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">2018 to 2024</td>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">92%</td>
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">0</td>
              </tr>
            
              <tr class="govuk-table__row">
            
                <th scope="row" class="govuk-table__header pollutant-table-row"><strong>PM10</strong>
                  <span style="font-weight: normal; display: block; margin-top: 4px; ">Exceedence over 50 µg/m3</span>
      
                 
                </th>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">2018 to 2024</td>

                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row">93%</td>
  
                <td class="govuk-table__cell govuk-table__cell--numeric pollutant-table-row"><div class="arrow-up"></div><strong>3</strong>
                
                </td>
             
              </tr>


              
     
           
    
            </tbody>
          </table>

        <!--   <p style=" display: block; font-size: 16px; color:#505a5f">Latest measurement today at 12:00 on 22 July 2024

          </p> -->
          <a class="govuk-body govuk-link" href="pollutants.html">View pollutant levels in 2023</a>

          <div class="govuk-divider"></div>
         <!--  <button class="govuk-button govuk-button--primary govuk-!-margin-top-6" id="station-btn-primary" style="display:block;">Customise data download</button> -->


        {{ govukButton({
          text: "Download data for this station",
          href: "select-a-time-period.html"
        }) }}
    </div>
    
</div>

{% endblock %}