{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="select-network.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           Select time period
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          <!-- Select one option. -->
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="text" >
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Past 24 hours
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" >
            <label class="govuk-label govuk-radios__label" for="contact-3">
              Past week
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-4" name="contact" type="radio" value="text" >
            <label class="govuk-label govuk-radios__label" for="contact-4">
              Past month
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-5" name="contact" type="radio" value="text" >
            <label class="govuk-label govuk-radios__label" for="contact-5">
              Past year
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-6" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-6" >
            <label class="govuk-label govuk-radios__label" for="contact-6">
              Annual period
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
             1 January to 31 December
            </div>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-6">
              <div id="signIn-item-hint" class="govuk-hint">
                
              </div>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    2018
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                    2019
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                    2020
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                    2021
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-5" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-5">
                    2022
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-6" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-6">
                    2023
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-7" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-7">
                    2024
                  </label>
                </div>
              </div>
            </div>
          
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-7" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-7">
            <label class="govuk-label govuk-radios__label" for="contact-7">
              Customise date selection
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-7">
            <div id="signIn-item-hint" class="govuk-hint">
              <!-- Longitude and latitude should only include numbers. For example: 123456 -->
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Start date
              </label>
              <div id="signIn-item-hint" class="govuk-hint">
                For example, 27 3 2018
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
            </div>
          </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                End date
              </label>
              <div id="signIn-item-hint" class="govuk-hint">
                For example, 27 3 2019
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
            </div>
          </div>
         
        </div>
      </fieldset>
      
    </div>

    {{ govukButton({
      text: "Continue",
      href: "select-a-pollutant.html"
    }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
