{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="results-b2-4qa.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Filter results</h1>
    <p class="govuk-body">You can filter results by distance, pollutants, site type and years of data available</p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Distance radius
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius" name="radius" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="radius">
              1 mile
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-2" name="radius" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="radius-2">
              5 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-3" name="radius" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="radius-3">
              10 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-4" name="radius" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="radius-4">
              20 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-5" name="radius" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="radius-5">
              30 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="radius-6" name="radius" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="radius-6">
              50 miles
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Pollutants
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pollutants" name="pollutants" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="pollutants">
              Nitrogen dioxide (NO2)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pollutants-2" name="pollutants" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="pollutants-2">
              PM10
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pollutants-3" name="pollutants" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="pollutants-3">
              PM2.5
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pollutants-4" name="pollutants" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="pollutants-4">
              Ozone (O3)
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="pollutants-5" name="pollutants" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="pollutants-5">
              Sulphur dioxide (SO2)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Site type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site" name="site" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="site">
              Rural background
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site-2" name="site" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="site-2">
              Suburban background
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site-3" name="site" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="site-3">
              Suburban industrial
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site-4" name="site" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="site-4">
            Urban background
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site-5" name="site" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="site-5">
              Urban industrial
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="site-6" name="site" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="site-6">
              Urban traffic
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Years available
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years" name="years" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="years">
              2018
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years-2" name="years" type="checkbox" value="employment-tribunal">
            <label class="govuk-label govuk-checkboxes__label" for="years-2">
              2019
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years-3" name="years" type="checkbox" value="MOD">
            <label class="govuk-label govuk-checkboxes__label" for="years-3">
              2020
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years-4" name="years" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="years-4">
            2021
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years-5" name="years" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="years-5">
             2022
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="years-6" name="years" type="checkbox" value="DfT">
            <label class="govuk-label govuk-checkboxes__label" for="years-6">
              2023
            </label>
          </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="years-7" name="years" type="checkbox" value="DfT">
          <label class="govuk-label govuk-checkboxes__label" for="years-7">
            2024
          </label>
        </div>
      </fieldset>
    </div>



    {{ govukButton({
      text: "Apply filters",
      classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-3",
      href: "results-b2-4qa.html"
      }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
