{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="results-b2-4qa-filtered.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your answers before continuing</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Time period
            </dt>
            <dd class="govuk-summary-list__value">
              1 January to 31 December 2023<br>
              1 January to 5 November 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pollutants
            </dt>
            <dd class="govuk-summary-list__value">
              Nitrogen dioxide<br>
              PM10<br>
              PM2.5
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
            </dd>
          </div>
        </dl>
  </div>
</div>

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-3",
      href: "stations-overview.html"
    }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
