{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="/version-5/filter-question.html" class="govuk-back-link">Change distance and location</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">
        <h1 class="govuk-heading-l">Select filters for monitoring stations within 20 miles of B2 4QA</h1>
       
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Filters
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Clear all filters<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
              </li>
              <!-- <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
              </li> -->
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Monitoring networks
                </dt>
                <dd class="govuk-summary-list__value">
                  Automatic Urban and Rural<br>
                  Locally managed automatic
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-a-network.html">Change<span class="govuk-visually-hidden"> monitoring networks</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Pollutants
                </dt>
                <dd class="govuk-summary-list__value">
                  Nitrogen dioxide (NO2)<br>
                 PM10<br>
                 PM2.5
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-a-pollutant.html">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Site types
                </dt>
                <dd class="govuk-summary-list__value">
                  Rural background<br>
                  Suburban background<br>
                  Suburban industrial<br>
                  Urban background<br>
                  Urban industrial<br>
                  Urban traffic
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-a-site-type.html">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Years available
                </dt>
                <dd class="govuk-summary-list__value">
                  None selected
                  <!-- 2018, 2019, 2020, 2021, 2022, 2023, 2024 -->

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="select-years.html">Add<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
                </dd>
              </div>
            
            </dl>
          </div>
        </div>


        {{ govukButton({
          text: "Continue with selected filters",
          href: "results-b2-4qa-filtered.html"
        }) }}
</div>
</div>
<!-- end of second row-->
  

{% endblock %}
