{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<a href="filters-3.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Select site types
          </h1>
        </legend>
        <div id="waste-hint" class="govuk-hint">
      
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              Select all
            </label>
          </div>
        
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
              Rural background
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring area is in small settlements or areas with natural ecosystems, forests or crops. It is located so pollutant measurements do not come from one specific source. 
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-4">
              Suburban background
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring site is on the outskirts of an urban area or in an area of its own. It is located so pollutant measurements do not come from one specific source. 
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
              Suburban industrial
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring site is on the outskirts of an urban area (or in an area of its own), downwind of an industrial source. 
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-5">
              Urban background
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring area is in a city or town. It is located so pollutant measurements do not come from one specific source. 
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-6">
              Urban industrial
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring site is in a city or town, downwind of an industrial source. 
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
            <label class="govuk-label govuk-checkboxes__label" for="waste-7">
              Urban traffic
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              This monitoring site is in a city or town close to roads, motorways or highways. 
            </div>
          </div>
          
        </div>
      </fieldset>
    </div>

    


    {{ govukButton({
      text: "Add site types",
      href: "filters-4.html",
      classes: "govuk-!-margin-top-3"
    }) }}
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
