{% extends "layouts/data-selector.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<!-- <a href="start.html" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8 govuk-!-margin-top-8">Get air pollution data</h1>
<h2 class="govuk-heading-m">By network</h2>
   <p class="govuk-body"><a href="by-network/find-networks.html" class="govuk-link">Find air quality data by network</a></p>
 
   <h2 class="govuk-heading-m govuk-!-margin-top-6">By pollutant</h2>
   <p class="govuk-body"><a href="by-pollutant/create-dataset.html" class="govuk-link">Find air quality data by pollutant</a></p>



      </div>
</div>

{% endblock %}