{% extends "layouts/v3.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Get air pollution data</h1>

    <div class="govuk-divider"></div>









    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Monitoring stations
    </h2>
  <!--   <div class="govuk-inset-text" style="padding: 8px 15px 8px 15px;">
      Monitoring stations capture air pollution data.
    </div> -->

    <p class="govuk-body">Monitoring stations capture air pollution data.</p>
    
    <p class="govuk-body">View and download air pollution data from one or more monitoring stations.</p>
    
    <a href="choose-location.html" class="govuk-body govuk-link">Find monitoring stations</a>
 
   <!--  <div class="govuk-inset-text">
     
    </div> -->

    



   

  
  <!--   <div class="govuk-divider"></div>

   

    <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-3">
      Filter air pollution data
    </h2>
    <p class="govuk-body govuk-!-margin-top-3">Filter by monitoring network, pollutant, site type and years available.
    </p>
    <a href="/version-5/filter-first/filters.html" class="govuk-body govuk-link">Filter air pollution data</a> -->

    <div class="govuk-divider"></div>

   

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
      Local authorities
    </h2>
<!--     <p class="govuk-body">Filter by pollutant, environment type, year and country.</p> -->
    <a href="/version-5/filter-first/filters.html" class="govuk-body govuk-link">Somethingn</a>

    </div>

      </div>


{% endblock %}