{% extends "layouts/v7.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Get air pollution data</h1>

   
    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <div class="gem-c-cards">
    <ul class="gem-c-cards__list gem-c-cards__list--one-column">
        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">View map of monitoring stations</a>
</h3>              <p class="govuk-body gem-c-cards__description">View and download air pollution data on a map</p>
          </div>
        </li>

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Search by town or postcode</a>
</h3>              <p class="govuk-body gem-c-cards__description">Find air pollution data by town or postcode</p>
          </div>
        </li>

       <!--  <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="#">Search by local authority</a>
</h3>              <p class="govuk-body gem-c-cards__description">Find air pollution data by local authority</p>
          </div>
        </li> -->

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="data-selector-mvp/create-pollutant.html">Create your own dataset</a>
</h3>              <p class="govuk-body gem-c-cards__description">Choose a location, date and site type</p>
          </div>
        </li>
       
      </div>
      </div>

       <div class="govuk-grid-column-one-third-from-desktop">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Check air quality
              </a>
            </li>
            <li>
              <a href="#">
                What data sources are available
              </a>
            </li>
          
          </ul>
        </nav>
      </aside>

    </div>

</div>


{% endblock %}