{% extends "layouts/v7.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Get air pollution data</h1>

    <div class="govuk-divider"></div>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Find monitoring stations
    </h2>
    
    <p class="govuk-body">View and download air pollution data from monitoring stations.</p>
    
    <div class="moj-search govuk-!-margin-bottom-3">

      <form action="#" method="post">
    
        <div class="govuk-form-group" style="display: inline-block;">

          <div id="search-hint" class="govuk-body govuk-!-margin-bottom-2">
            Search by station, town, postcode or local authority
          </div>
          
    
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" value="" aria-describedby="search-hint">
    
        </div>
    
        <div class="defra-search__submit-container">
          <button type="submit" class="defra-search__button"  data-module="govuk-button">
            <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect x="0" y="0" width="50" height="50" style="fill:none;"></rect><path d="M12.316,14.791c-1.242,0.79 -2.716,1.248 -4.296,1.248c-4.426,0 -8.02,-3.593 -8.02,-8.019c0,-4.426 3.594,-8.02 8.02,-8.02c4.426,0 8.019,3.594 8.019,8.02c0,1.58 -0.458,3.054 -1.248,4.296l5.209,5.209l-2.475,2.475l-5.209,-5.209Zm-4.296,-12.771c3.311,0 6,2.688 6,6c0,3.311 -2.689,6 -6,6c-3.312,0 -6,-2.689 -6,-6c0,-3.312 2.688,-6 6,-6Z" style="fill:white;"></path></svg>
            <span class="govuk-visually-hidden">Search</span>
          </button>
          </div>
    
      </form>

    </div>
    <a href="https://www.google.co.uk/maps?q=52.476145,-1.874978" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon">
      <span class="aq-button-secondary__icon">
        <svg focusable="false" width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="currentColor"></path>
        </svg>
      </span>
      <span class="aq-button-secondary__text">
        View stations on a map</span>
        <span class="govuk-visually-hidden">
        (Visual only)
      </span>
    </a>
 
    <div class="govuk-divider"></div>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Create a custom search query for data
    </h2>

    
    <p class="govuk-body">Download air pollution data for any network, pollutant and country available.</p>
    
    <a href="/version-6_1/la/search.html" class="govuk-body govuk-link">Create a custom search query</a>
  
    



   



  <!--   <div class="govuk-divider"></div>

   

    <h2 class="govuk-heading-m">
      Local authorities
    </h2>
    <p class="govuk-body">Local authorities.</p>
    <a href="/version-5/filter-first/filters.html" class="govuk-body govuk-link">Find local authorities</a>

    </div> -->

      </div>


{% endblock %}