{% extends "layouts/v7.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
<!-- <a href="start.html" class="govuk-back-link">Back</a> -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Find air pollution data by location
          </h1>
        </legend>

        <p class="govuk-body">View and download air pollution data from monitoring stations.</p>

        <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon">
          <span class="aq-button-secondary__icon">
            <svg focusable="false" width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="currentColor"></path>
            </svg>
          </span>
          <span class="aq-button-secondary__text" style="color: #1d70b8;">
            View a map of stations</span>
            <span class="govuk-visually-hidden">
            (Visual only)
          </span>
        </a>
        <div id="contact-hint" class="govuk-hint">
          <!-- Select one option. -->
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
             Town or postcode
            </label>
            <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
           You can only search for places in Northern Ireland by postcode.
            </div> -->
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
             <!--  <label class="govuk-label" for="contact-by-email">
                Enter
              </label> -->
              <input class="govuk-input govuk-!-width-full" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
              <div class="govuk-form-group govuk-!-margin-top-3">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <legend class="govuk-fieldset__legend govuk-!-margin-bottom-0 govuk-!-margin-top-2">
                      Approximate search area
                    </legend>
                  </legend>
                  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month" checked>
                      <label class="govuk-label govuk-radios__label" for="changedName">
                        5 miles
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        25 miles
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changedName-2">
                        50 miles
                      </label>
                    </div>
                  </div>
                </fieldset>
               
              </div>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Local authority
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
           <!--  <div id="signIn-item-hint" class="govuk-hint">
              For example,  Birmingham City Council
            </div> -->
            <div id="autocomplete-container" class="govuk-body"></div>
          </div>
       
            </div>
            
          </div> 
        
        </div>
      </fieldset>
    </div>

    <!-- <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon">
      <span class="aq-button-secondary__icon">
        <svg focusable="false" width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="currentColor"></path>
        </svg>
      </span>
      <span class="aq-button-secondary__text" style="color: #1d70b8;">
        View a map of stations</span>
        <span class="govuk-visually-hidden">
        (Visual only)
      </span>
    </a> -->

    

    {{ govukButton({
      text: "Continue",
      href: "results-b2-4qa.html"
    }) }}
   
      </div>
    </div>
<!-- end of second row-->
  

{% endblock %}
