{% extends "layouts/v7.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="start.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find monitoring stations by location</h1>



  

   <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Search by town or postcode
    </label>
    <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
  </div>

  <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon">
    <span class="aq-button-secondary__icon">
      <svg focusable="false" width="15" height="20" viewBox="0 0 15 20"><path d="M15,7.5c0.009,3.778 -4.229,9.665 -7.5,12.5c-3.271,-2.835 -7.509,-8.722 -7.5,-12.5c0,-4.142 3.358,-7.5 7.5,-7.5c4.142,0 7.5,3.358 7.5,7.5Zm-7.5,5.461c3.016,0 5.461,-2.445 5.461,-5.461c0,-3.016 -2.445,-5.461 -5.461,-5.461c-3.016,0 -5.461,2.445 -5.461,5.461c0,3.016 2.445,5.461 5.461,5.461Z" fill="currentColor"></path>
      </svg>
    </span>
    <span class="aq-button-secondary__text" style="color: #1d70b8;">
      View a map of stations</span>
      <span class="govuk-visually-hidden">
      (Visual only)
    </span>
  </a>

    <div class="govuk-form-group govuk-!-margin-top-3">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <legend class="govuk-fieldset__legend">
            Approximate search area
          </legend>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="changedName">
              5 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              25 miles
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              50 miles
            </label>
          </div>
        </div>
      </fieldset>
     
    </div>
    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6",
      href: "results-b2-4qa.html"
      }) }}
      
      <p class="govuk-body"><a href="" class="govuk-link">Search by local authority</a></p>
  </div>
    
</div>

    

      </div>
</div>

{% endblock %}