{% extends "layouts/v6.html" %}

{% set pageName="Check your answers" %}

{% block beforeContent %}
<a href="search.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">


        <h1 class="govuk-heading-l">Download files for 2 stations from Birmingham City Council</h1>
        <p class="govuk-body">1 January to 31 December 2023</p>
        
       <!--  <h3 class="govuk-heading-s govuk-!-margin-bottom-7">Data is verified until 1 July  <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
          2024
           </div></h3> -->
      </div>
    </div>
           <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-from-desktop">
           <div class="govuk-tabs govuk-!-margin-bottom-0 govuk-!-margin-top-6" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#allpollutants">
                  All pollutants
                </a>
              </li>
              <li class="govuk-tabs__list-item ">
                <a class="govuk-tabs__tab" href="#nitrogen">
                  Nitrogen dioxide
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#pm10">
                  PM10
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#pm2-5">
                  PM2.5
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#ozone">
                  Ozone
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#sulphur">
                  Sulphur dioxide
                </a>
              </li>
            
             
              
             
            </ul>
            <div class="govuk-tabs__panel" id="allpollutants">
        
              <h2 class="govuk-heading-m">All pollutants</h2>
              <div class="defra-flood-status defra-flood-status--full">
                <div class="defra-flood-status-item defra-flood-status-item--information govuk-!-margin-bottom-3 govuk-!-margin-top-1">
                  <div class="defra-flood-status-item__container">
                    <span class="defra-flood-status-item__icon">
                      <svg focusable="false" aria-hidden="true" width="18" height="18" viewBox="0 0 18 18" style="fill-rule:evenodd;clip-rule:evenodd">
                        <circle cx="9" cy="9" r="7.5" style="fill:none;stroke:currentColor;stroke-width:1px;"></circle>
                        <text x="4.687px" y="12.906px" fill="currentColor" style="font-family:'Courier-Bold', 'Courier', sans-serif;font-size:14px;">i</text>
                      </svg>
                    </span>
                    <div class="defra-flood-status-item__text">
                      <span class="govuk-visually-hidden">Information:</span>
                      <p class="govuk-body-s govuk-!-margin-bottom-0">1 station in your download does not monitor sulphur dioxide, it will not be included in this data.</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-0 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (626KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily average data CSV (326KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download annual average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
            <!-- </div> -->
             
            </div>
            <div class="govuk-tabs__panel" id="nitrogen">
        
             
       <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Nitrogen dioxide</h2>
       <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
        <span class="aq-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
        </span>
        <span class="aq-button-secondary__text">
          Download hourly data CSV (626KB)</span>
          <span class="govuk-visually-hidden">
          (Visual only)
        </span>
      </a>
      <br>
      <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
        <span class="aq-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
        </span>
        <span class="aq-button-secondary__text">
          Download daily average data CSV (326KB)</span>
          <span class="govuk-visually-hidden">
          (Visual only)
        </span>
      </a>
      <br>
      <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
        <span class="aq-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
        </span>
        <span class="aq-button-secondary__text">
          Download annual average data CSV (126KB)</span>
          <span class="govuk-visually-hidden">
          (Visual only)
        </span>
      </a>
             
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm10">
              
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM10</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (626KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily average data CSV (326KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download annual average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>

            </div>
            
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm2-5">
              
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM2.5</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
               <span class="aq-button-secondary__icon">
                 <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
               </span>
               <span class="aq-button-secondary__text">
                 Download hourly data CSV (626KB)</span>
                 <span class="govuk-visually-hidden">
                 (Visual only)
               </span>
             </a>
            
             <br>
             <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
               <span class="aq-button-secondary__icon">
                 <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
               </span>
               <span class="aq-button-secondary__text">
                 Download daily average data CSV (326KB)</span>
                 <span class="govuk-visually-hidden">
                 (Visual only)
               </span>
             </a>
             <br>
             <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
              <span class="aq-button-secondary__icon">
                <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
              </span>
              <span class="aq-button-secondary__text">
                Download annual average data CSV (126KB)</span>
                <span class="govuk-visually-hidden">
                (Visual only)
              </span>
            </a>

            </div>
           
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ozone">

              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Ozone</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (426KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily 8 hour average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download annual average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              
              
            </div>

            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sulphur">

              <h2 class="govuk-heading-m">Sulphur dioxide</h2>
              <!-- <div class="govuk-inset-text govuk-!-margin-top-2" style="border-left: 10px solid #d4351c; background-color:#f4cdc6;">
                1 station not available for sulphur dioxide
              </div> -->
        

              <div class="defra-flood-status defra-flood-status--full ">
                <div class="defra-flood-status-item defra-flood-status-item--information govuk-!-margin-bottom-3 govuk-!-margin-top-1">
                  <div class="defra-flood-status-item__container">
                    <span class="defra-flood-status-item__icon">
                      <svg focusable="false" aria-hidden="true" width="18" height="18" viewBox="0 0 18 18" style="fill-rule:evenodd;clip-rule:evenodd">
                        <circle cx="9" cy="9" r="7.5" style="fill:none;stroke:currentColor;stroke-width:1px;"></circle>
                        <text x="4.687px" y="12.906px" fill="currentColor" style="font-family:'Courier-Bold', 'Courier', sans-serif;font-size:14px;">i</text>
                      </svg>
                    </span>
                    <div class="defra-flood-status-item__text">
                      <span class="govuk-visually-hidden">Information:</span>
                      <p class="govuk-body-s govuk-!-margin-bottom-0">1 station in your download does not monitor sulphur dioxide, it will not be included.</p>
                    </div>
                  </div>
                </div>
              </div>
            
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-0 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (426KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily daily average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download annual average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              
              
            </div>
           
            
          </div>


  

        <p class="govuk-body govuk-!-margin-top-6"><a href="search.html" class="govuk-link">Find data for another local authority</a></p>

       
       <!--  <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Download CSV files
          </button>
        </form> -->
      </div>
    </div>
  </main>
</div>
<!-- end of second row-->
  

{% endblock %}
