{% extends "layouts/v6.html" %}

{% set pageName="Check your answers" %}

{% block beforeContent %}
<a href="search.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">


        <h1 class="govuk-heading-l">Download files for 2 stations from Birmingham City Council</h1>
        <p class="govuk-body">1 January to 31 December 2023</p>
        
       <!--  <h3 class="govuk-heading-s govuk-!-margin-bottom-7">Data is verified until 1 July  <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
          2024
           </div></h3> -->
           <div class="govuk-tabs govuk-!-margin-bottom-0 govuk-!-margin-top-6" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#allpollutants">
                  All pollutants
                </a>
              </li>
              <li class="govuk-tabs__list-item ">
                <a class="govuk-tabs__tab" href="#nitrogen">
                  Nitrogen dioxide
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#pm10">
                  PM10
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#pm2-5">
                  PM2.5
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#ozone">
                  Ozone
                </a>
              </li>
            
             
              
             
            </ul>
            <div class="govuk-tabs__panel" id="allpollutants">
        
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">All pollutants</h2>
 <!--      <div style="display: flex; flex-direction: column;"> -->
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (626KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily average data CSV (326KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download annual average data CSV (326KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
            <!-- </div> -->
             
            </div>
            <div class="govuk-tabs__panel" id="nitrogen">
        
             
       <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Nitrogen dioxide</h2>
       <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
        <span class="aq-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
        </span>
        <span class="aq-button-secondary__text">
          Download hourly data CSV (626KB)</span>
          <span class="govuk-visually-hidden">
          (Visual only)
        </span>
      </a>
      <br>
      <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
        <span class="aq-button-secondary__icon">
          <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
        </span>
        <span class="aq-button-secondary__text">
          Download daily average data CSV (326KB)</span>
          <span class="govuk-visually-hidden">
          (Visual only)
        </span>
      </a>
             
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm10">
              
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM10</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (626KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily average data CSV (326KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>

            </div>
            
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pm2-5">
              
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">PM2.5</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
               <span class="aq-button-secondary__icon">
                 <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
               </span>
               <span class="aq-button-secondary__text">
                 Download hourly data CSV (626KB)</span>
                 <span class="govuk-visually-hidden">
                 (Visual only)
               </span>
             </a>
             <br>
             <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
               <span class="aq-button-secondary__icon">
                 <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
               </span>
               <span class="aq-button-secondary__text">
                 Download daily average data CSV (326KB)</span>
                 <span class="govuk-visually-hidden">
                 (Visual only)
               </span>
             </a>

            </div>
           
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ozone">

              <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Ozone</h2>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download hourly data CSV (426KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              <br>
              <a href="" role="button" id="map-btn" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-top-3 govuk-!-margin-bottom-1">
                <span class="aq-button-secondary__icon">
                  <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20"><path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path></svg>
                </span>
                <span class="aq-button-secondary__text">
                  Download daily 8 hour average data CSV (126KB)</span>
                  <span class="govuk-visually-hidden">
                  (Visual only)
                </span>
              </a>
              
              
            </div>
           
            
          </div>


  

       <h2 class="govuk-heading-m govuk-!-margin-top-6">Download more data</h2>
        <p class="govuk-body"><a href="" class="govuk-link">Find more air pollution data</a></p>

       
       <!--  <form action="/form-handler" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Download CSV files
          </button>
        </form> -->
      </div>
    </div>
  </main>
</div>
<!-- end of second row-->
  

{% endblock %}
