{% extends "layouts/v6.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="../hub.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Find local authority data</h1>

    <!-- <div class="govuk-inset-text">
      Available monitoring stations are from the Automatic Urban and Rural network.
     </div> -->
   <!--  <p class="govuk-body">View and download air pollution data from one or more monitoring stations.</p> -->

   <label class="govuk-label">
    Enter a local authority
  </label>
   <div id="autocomplete-container" class="govuk-body"></div>

   <div class="govuk-form-group govuk-!-margin-top-6">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <legend class="govuk-fieldset__legend">
          Select monitoring network
        </legend>
      </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" >
          <label class="govuk-label govuk-checkboxes__label" for="organisation">
            Automatic Urban and Rural network
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
          <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
            Locally managed automatic monitoring network
          </label>
        </div>
      </div>
    </fieldset>
   
  </div>
  <label class="govuk-label" style="color: #505a5f;"></label>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend">
       
          Select year
      </legend>
      <div id="contact-hint" class="govuk-hint">
        From 1 January to 31 December
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email">
          <label class="govuk-label govuk-radios__label" for="contact">
            2024
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email">
          <label class="govuk-label govuk-radios__label" for="contact">
            2023
          </label>
        </div>
       
        
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            Choose another year
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                  <label class="govuk-label govuk-radios__label" for="changedName">
                    2022
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-2">
                    2021
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-3">
                    2020
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-4" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-4">
                    2019
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changedName-5" name="changedName" type="radio" value="year">
                  <label class="govuk-label govuk-radios__label" for="changedName-5">
                    2018
                  </label>
                </div>
                
              </div>
            </fieldset>
          </div>
        </div>
        
      </div>
    </fieldset>
  </div>
<!--   <div class="govuk-divider"></div> --><!-- 
<h2 class="govuk-heading-m govuk-!-margin-top-7">Search details</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Monitoring network
      </dt>
      <dd class="govuk-summary-list__value">
        Automatic Urban and Rural network
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year
      </dt>
      <dd class="govuk-summary-list__value">
        1 January to 31 December 2023
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
      </dd>
    </div>
    
   
  </dl> -->

 
    {{ govukButton({
      text: "Find local authority data",
      classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-0",
      href: "download.html"
      }) }}
  </div>
    
</div>

    

      </div>
</div>

{% endblock %}