{% extends "layouts/data-selector-mvp.html" %}

{% set pageName="Get air pollution data - GOV.UK" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Get air pollution data</h1>

   
    </div>
    </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <div class="gem-c-cards">
    <ul class="gem-c-cards__list gem-c-cards__list--one-column">
     

        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="">Find monitoring stations by location</a>
</h3>              <p class="govuk-body gem-c-cards__description">View and download data by town or postcode</p>
          </div>
        </li>


        <li class="gem-c-cards__list-item">
          <div class="gem-c-cards__list-item-wrapper">
            <h3 class="gem-c-cards__sub-heading govuk-heading-s">
              <a class="govuk-link gem-c-cards__link gem-c-force-print-link-styles" href="create-pollutant.html">Create a custom dataset</a>
</h3>              <p class="govuk-body gem-c-cards__description">View and download data by pollutant, year and location</p>
          </div>
        </li>
       
        

      </div>
      </div>

    

</div>


{% endblock %}