{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">



    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>


    <!-- beta -->
    <table class="govuk-table">

      <h2 class="govuk-heading-m">
        Beta
      </h2>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="data-selector/index">Data selector</a></td>
          <td class="govuk-table__cell">5 December 2023 to 9 January 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="mvp-final/index">MVP for development</a></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link"></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="mvp/start">Tested MVP</a></td>
          <td class="govuk-table__cell">14 November to 5 December</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-6_1/start">Version 6</a></td>
          <td class="govuk-table__cell">22 October to 14 November</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
      </tbody>
    </table>

    <!-- alpha -->
    <table class="govuk-table">

      <h2 class="govuk-heading-m">
        Alpha
      </h2>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-5/start">Version 5</a></td>
          <td class="govuk-table__cell">21 August to 11 September</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-4/start">Version 4</a></td>
          <td class="govuk-table__cell">31 July to 21 August</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-3/start">Version 3</a></td>
          <td class="govuk-table__cell">3 July to 31 July</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-2/start">Version 2</a></td>
          <td class="govuk-table__cell">13 June to 3 July </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Version 1</th>
          <td class="govuk-table__cell">23 May to 12 June</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Design history</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
