{% extends "layouts/data-selector.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Explore monitoring networks</h1>

<h2 class="govuk-heading-m"><a href="aurn-network.html" class="govuk-link">Automatic Urban and Rural Network (AURN)</a></h2>
<p class="govuk-body">Data from the AURN is used for national air quality monitoring. It provides the highest quality air pollution data in the UK.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 July 1972</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="uunn-network.html" class="govuk-link">UK Urban NO2 Network (UUNN)</a></h2>
<p class="govuk-body">The UUNN measures concentrations of NO2 at urban traffic sites.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 2020</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Locally managed automatic network</a></h2>
<p class="govuk-body">Most locally managed automatic monitoring stations are run by local authorities. They measure air quality in local pollution hotspots. They use a range of different monitoring equipment and produce data of varying quality.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1986</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Automatic Hydrocarbon Network</a></h2>
<p class="govuk-body">Automatic hourly measurements of speciated hydrocarbons</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1993</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Non-automatic Hydrocarbon Network</a></h2>
<p class="govuk-body">The Non-Automatic Hydrocarbon Network measures ambient benzene concentrations.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1993</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Heavy metals</a></h2>
<p class="govuk-body">The HM Network monitors the concentrations in air, and the deposition rates of a range of metallic elements at urban, industrial and rural sites.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
 
<div class="govuk-divider"></div>

      </div>
</div>

{% endblock %}