{% extends "layouts/data-selector.html" %}

{% set pageName="Find monitoring stations by location
- Get air pollution data - GOV.UK" %}


{% block beforeContent %}
<a href="../index.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Explore monitoring networks</h1>

<h2 class="govuk-heading-m"><a href="aurn-network.html" class="govuk-link">Automatic Urban and Rural Network (AURN)</a></h2>
<p class="govuk-body">Data from the AURN is used for national air quality monitoring. It provides the highest quality air pollution data in the UK.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 July 1972</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="uunn-network.html" class="govuk-link">UK Urban NO2 Network (UUNN)</a></h2>
<p class="govuk-body">The UUNN measures concentrations of NO2 at urban traffic sites.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 2020</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Locally managed automatic network</a></h2>
<p class="govuk-body">Most locally managed automatic monitoring stations are run by local authorities. They measure air quality in local pollution hotspots. They use a range of different monitoring equipment and produce data of varying quality.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1986</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Automatic Hydrocarbon Network</a></h2>
<p class="govuk-body">Automatic hourly measurements of speciated hydrocarbons.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1993</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Non-automatic Hydrocarbon Network</a></h2>
<p class="govuk-body">The Non-Automatic Hydrocarbon Network measures ambient benzene concentrations.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1993</p>
 
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Heavy metals</a></h2>
<p class="govuk-body">The HM Network monitors the concentrations in air, and the deposition rates of a range of metallic elements at urban, industrial and rural sites.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Polycyclic Aromatic Hydrocarbons (PAH)</a></h2>
<p class="govuk-body">This network measures ambient concentrations of polycyclic aromatic hydrocarbons (PAH) in the atmosphere. PAHs are a group of persistent organic pollutant compounds that contain 2 or more benzene rings. They are generally produced through incomplete combustion or pyrolysis.</p>
<p class="govuk-body"><strong>Start date:</strong> 1991</p>
    
<div class="govuk-divider"></div>
 
<h2 class="govuk-heading-m"><a href="" class="govuk-link">Toxic Organic Micro Pollutants (TOMPs) Network</a></h2>
<p class="govuk-body">This network measures ambient air concentrations for a range of persistent organic pollutants (POPs)</p>
<p class="govuk-body"><strong>Start date:</strong> 1991</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Black carbon</a></h2>
<p class="govuk-body">The Black Carbon Network monitors black carbon concentrations.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 September 2006</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Particle concentrations and numbers network</a></h2>
<p class="govuk-body">This network monitors airborne particulate matter.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">United Kingdom Eutrophying & Acidifying Network (UKEAP)</a></h2>
<p class="govuk-body">This network monitors long-term pollutant trends in rural and remote locations. It is made up of the National Ammonia Monitoring Network,
Acid Gas and Aerosol Network, Rural NO2 Network and the Rural Mercury Network</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">UKEAP: Acid Gas and Aerosol Network (AGA Net)</a></h2>
<p class="govuk-body">This network provides monthly average concentrations of acid gases and inorganic aerosol composition.</p>
<p class="govuk-body"><strong>Start date:</strong>1993</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">UKEAP: Rural NO2 Network</a></h2>
<p class="govuk-body">Nitrogen dioxide measurements in this sampling programme are used to map the background concentrations for Pollution Climate Mapping (PCM) and modelling.</p>
<p class="govuk-body"><strong>Start date:</strong> 4 January 1993</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">UKEAP: National Ammonia Monitoring Network (NAMN)</a></h2>
<p class="govuk-body">NAMN provides monthly gaseous ammonia (NH3) concentrations.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">UKEAP: MARGA</a></h2>
<p class="govuk-body">No information available</p>
<p class="govuk-body"><strong>Start date:</strong> 17 February 2009</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">UKEAP: Rural Mercury Network</a></h2>
<p class="govuk-body">Mercury (Hg) measurements at high temporal resolution are carried out at 2 sites. At Auchencorth Moss, particulate bound Hg (PBM) in PM2.5, gaseous oxidised Hg (GOM) and total elemental Hg (GEM) are measured, while at the Chilbolton Observatory only the total gaseous elemental mercury (TGM) is measured.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1980</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Automatic London Network</a></h2>
<p class="govuk-body">The Automatic London Network is a subset of sites in the AURN. They form part of the wider London Air Quality Network (LAQN).</p>
<p class="govuk-body"><strong>Start date:</strong> 1 May 1994</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Black Smoke & SO2</a></h2>
<p class="govuk-body">This network measures black smoke and sulphur dioxide at Abbots Langley</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1977</p>
    
<div class="govuk-divider"></div>

<h2 class="govuk-heading-m"><a href="" class="govuk-link">Nitrogen Dioxide Diffusion Tube (1993 to 2005)</a></h2>
<p class="govuk-body">This network stopped at the end of 2005 - replaced by the AURN and UUNN.</p>
<p class="govuk-body"><strong>Start date:</strong> 1 January 1993</p>

<div class="govuk-divider"></div>

      </div>
</div>

{% endblock %}
