{% extends "layouts/v8.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: { text: "Beta" },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
<a href="../choose-dataset.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Add data source</h1>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Find out more about sources of air pollution data (opens in new tab)</a>
    </p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="data-source-hint">
      <!--   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Choose a data source
        </legend> -->
        <div id="data-source-hint" class="govuk-hint">
          Select one option. Some options will ask you to choose a specific network.
        </div>

        <div class="govuk-radios govuk-!-margin-top-3" data-module="govuk-radios">

          <!-- Latest hourly data -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   id="ds-hourly"
                   name="data-source"
                   type="radio"
                   value="hourly"
                   data-aria-controls="conditional-ds-hourly">
            <label class="govuk-label govuk-radios__label" for="ds-hourly">
              Latest hourly data from Defra
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ds-hourly">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="hourly-network-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Choose a network
                </legend>
                <div id="hourly-network-hint" class="govuk-hint">
                  Select one network for hourly data.
                </div>

                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="hourly-aurn"
                           name="hourly-network"
                           type="radio"
                           value="Automatic Urban and Rural Network (AURN)">
                    <label class="govuk-label govuk-radios__label" for="hourly-aurn">
                      Automatic Urban and Rural Network (AURN)
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      UK’s main automatic compliance network; hourly measurements of NOx, SO₂, O₃, CO, PM₁₀ and PM₂.₅ at urban and rural sites.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="hourly-ahn"
                           name="hourly-network"
                           type="radio"
                           value="Automatic Hydrocarbon Network">
                    <label class="govuk-label govuk-radios__label" for="hourly-ahn">
                      Automatic Hydrocarbon Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Automatic sites measuring hydrocarbons (e.g. benzene/VOCs) for national assessment and reporting.
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <!-- Monthly data -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   id="ds-monthly"
                   name="data-source"
                   type="radio"
                   value="monthly"
                   data-aria-controls="conditional-ds-monthly">
            <label class="govuk-label govuk-radios__label" for="ds-monthly">
              Monthly data from Defra
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ds-monthly">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="monthly-network-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Choose a network
                </legend>
                <div id="monthly-network-hint" class="govuk-hint">
                  Select one network for monthly data.
                </div>

                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-uun"
                           name="monthly-network"
                           type="radio"
                           value="UK Urban NO2 Network (UUNN)">
                    <label class="govuk-label govuk-radios__label" for="monthly-uun">
                      UK Urban NO₂ Network (UUNN)
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Urban traffic NO₂ concentrations to support national compliance assessment (established 2020).
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-nahn"
                           name="monthly-network"
                           type="radio"
                           value="Non-Automatic Hydrocarbon Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-nahn">
                      Non-Automatic Hydrocarbon Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Manual sampling for hydrocarbons (notably benzene) analysed in the lab to assess long-term trends and targets.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-hm"
                           name="monthly-network"
                           type="radio"
                           value="Heavy Metals Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-hm">
                      Heavy Metals Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Monitors PM₁₀ for lead (Pb), nickel (Ni), arsenic (As) and cadmium (Cd) to meet directive requirements.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-marga"
                           name="monthly-network"
                           type="radio"
                           value="UKEAP: MARGA Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-marga">
                      UKEAP: MARGA Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Speciated water-soluble gases and particle ions (e.g. nitrate, sulphate, ammonium) at background sites to characterise PM.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-namn"
                           name="monthly-network"
                           type="radio"
                           value="UKEAP: National Ammonia Monitoring Network (NAMN)">
                    <label class="govuk-label govuk-radios__label" for="monthly-namn">
                      UKEAP: National Ammonia Monitoring Network (NAMN)
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Monthly NH₃ (and related ammonium) using passive/active samplers to track rural ammonia across the UK.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-aganet"
                           name="monthly-network"
                           type="radio"
                           value="UKEAP: Acid Gas and Aerosol Network (AGANet)">
                    <label class="govuk-label govuk-radios__label" for="monthly-aganet">
                      UKEAP: Acid Gas and Aerosol Network (AGANet)
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Monthly acid gases and inorganic aerosol composition to track long-term rural trends linked to acidification/eutrophication.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-rural-no2"
                           name="monthly-network"
                           type="radio"
                           value="UKEAP: Rural NO2 Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-rural-no2">
                      UKEAP: Rural NO₂ Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Diffusion-tube NO₂ at rural sites used to map background NOx for national Pollution Climate Mapping (PCM).
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-mercury"
                           name="monthly-network"
                           type="radio"
                           value="UKEAP: Rural Mercury Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-mercury">
                      UKEAP: Rural Mercury Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      High-frequency measurements of gaseous elemental/oxidised mercury (and particulate-bound Hg) at key rural sites.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-pah"
                           name="monthly-network"
                           type="radio"
                           value="PAH Monitoring Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-pah">
                      Polycyclic Aromatic Hydrocarbons (PAH) Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Non-automatic sampling at >30 sites to assess PAHs (e.g. benzo[a]pyrene) against UK/EU targets.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-tomps"
                           name="monthly-network"
                           type="radio"
                           value="Toxic Organic Micro Pollutants (TOMPs) Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-tomps">
                      Toxic Organic Micro Pollutants (TOMPs) Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Long-term POPs (e.g. dioxins, PCBs) at urban and rural sites using high-volume sampling for trend assessment.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-bc"
                           name="monthly-network"
                           type="radio"
                           value="Black Carbon Network">
                    <label class="govuk-label govuk-radios__label" for="monthly-bc">
                      Black Carbon Network
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Continues the historic “black smoke” record; measures black carbon as a combustion/soot indicator.
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           id="monthly-pcn"
                           name="monthly-network"
                           type="radio"
                           value="Particle Concentrations and Numbers Network (PCN)">
                    <label class="govuk-label govuk-radios__label" for="monthly-pcn">
                      Particle Concentrations and Numbers Network (PCN)
                    </label>
                    <div class="govuk-hint govuk-radios__hint">
                      Particle number/size and related metrics to understand sources and support assessment objectives.
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <!-- Local authority data -->
          <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   id="ds-la"
                   name="data-source"
                   type="radio"
                   value="local-authority">
            <label class="govuk-label govuk-radios__label" for="ds-la">
              Local authority data
            </label>
            <div class="govuk-hint govuk-radios__hint">
              Measurements reported by local authorities from their own monitoring stations.
            </div>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        attributes: { id: "add-location-button" }
      }) }}
    </div>

  </div>
</div>

{% endblock %}
