{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "data-selector" %}
{% set bodyClasses = "data-selector" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/data-selector/index.html",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}



{% block scripts %}
  {{ super() }}

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <script src="/public/javascripts/bundles/autocomplete.bundle.js"></script>
  <script src="/public/javascripts/bundles/autocomplete_p.bundle.js"></script>
  <script src="/public/javascripts/dataselector/main.js"></script>

  <!-- Components -->
  <script src="/public/javascripts/dataselector/components/toggletip.js"></script>
  <script src="/public/javascripts/dataselector/components/status.js"></script>

  <!-- Routes -->
  <script src="/public/javascripts/dataselector/routes.js"></script>
  

    

  

{% endblock %}