{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "mvp" %}
{% set bodyClasses = "mvp" %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/mvp-final/start.html",
    containerClasses: "govuk-width-container"
  }) }}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/mvp-final/privacy.html",
         text: "Privacy"
       },
       {
        href: "/mvp-final/cookies.html",
        text: "Cookies"
      },
      {
       href: "/mvp-final/accessibility.html",
       text: "Accessibility statement"
     }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}


{% block scripts %}
  {{ super() }}

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/public/javascripts/mvp/toggletip.js"></script>
  <script src="/public/javascripts/mvp/status.js"></script>





{% endblock %}