{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "mvp" %}
{% set bodyClasses = "mvp" %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/mvp-final/start.html",
    containerClasses: "govuk-width-container"
  }) }}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/",
         text: "Privacy"
       },
       {
        href: "/",
        text: "Cookies"
      },
      {
       href: "/",
       text: "Accessibility statement"
     }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}