{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "mvp" %}
{% set bodyClasses = "mvp" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/mvp/search.html",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}



{% block scripts %}
  {{ super() }}

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/public/javascripts/version_6/components/toggletip.js"></script>
  <script src="/public/javascripts/version_6/v6.js"></script>
<!--   <script src="/public/javascripts/version_6/nitrogen.js"></script>
  <script src="/public/javascripts/version_6/pm10.js"></script>
  <script src="/public/javascripts/version_6/pm2_5.js"></script>
  <script src="/public/javascripts/version_6/ozone.js"></script>
  <script src="/public/javascripts/version_6/routes.js"></script>
  <script src="/public/javascripts/chart-data/nitrogen-aurn.js"></script> -->

  <script src="/public/javascripts/bundles/autocomplete.bundle.js"></script>




{% endblock %}