{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "version-11" %}
{% set bodyClasses = "version-11" %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/version-11/hub.html",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}
{% endblock %}



{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/mvp-final/privacy.html",
          text: "Privacy"
        },
        {
          href: "/mvp-final/cookies.html",
          text: "Cookies"
        },
        {
          href: "/mvp-final/accessibility.html",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Reset prototype",
          attributes: {
            id: "reset-prototype"
          }
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}




{% block scripts %}
  {{ super() }}

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <!-- <script src="/public/javascripts/version_8/main.js"></script> -->

  <script src="/public/javascripts/bundles/autocomplete_p_11.bundle.js"></script>
  <script src="/public/javascripts/bundles/autocomplete_la_11.bundle.js"></script>

  <!-- Components -->
  <script src="/public/javascripts/version_11/components/toggletip.js"></script>
  <script src="/public/javascripts/version_11/components/status.js"></script>


    
<script>
document.addEventListener('DOMContentLoaded', () => {
  const resetLink = document.getElementById('reset-prototype');
  if (resetLink) {
    resetLink.addEventListener('click', e => {
      e.preventDefault();
      if (confirm('Clear all selections and start again?')) {
        sessionStorage.clear();
        // If you also store anything in localStorage, clear it too:
        // localStorage.clear();
        window.location.href = '/'; // or whatever your prototype start page is
      }
    });
  }
});
</script>
  

{% endblock %}